interactions:
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.screenscraper.fr/api2/jeuInfos.php?gameid=1
    response:
      body:
        string:
          "{\n\t\"header\" : {\n\t\t\"APIversion\" : \"2.0\",\n\t\t\"dateTime\"\
          \ : \"2025-07-19\",\n\t\t\"commandRequested\" : \"https://neoclone.screenscraper.fr/api2/jeuInfos.php?gameid=1&devid=zurdi15&devpassword=xTJwoOFjOQG&output=json&softname=romm&ssid=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&sspassword=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\"\
          ,\n\t\t\"success\": \"true\",\n\t\t\"error\": \"\"\n\t},\n\t\"response\" :\
          \ {\n\t\t\"serveurs\" : {\n\t\t\t\"cpu1\": \"0\",\n\t\t\t\"cpu2\": \"0\",\n\
          \t\t\t\"cpu3\": \"0\",\n\t\t\t\"cpu4\": \"0\",\n\t\t\t\"threadsmin\": \"3484\"\
          ,\n\t\t\t\"nbscrapeurs\": \"535\",\n\t\t\t\"apiacces\": \"7207526\",\n\t\t\
          \t\"closefornomember\": \"0\",\n\t\t\t\"closeforleecher\": \"0\",\n\t\t\t\"\
          maxthreadfornonmember\": \"256\",\n\t\t\t\"threadfornonmember\": \"31\",\n\
          \t\t\t\"maxthreadformember\": \"4096\",\n\t\t\t\"threadformember\": \"114\"\
          \n\t\t},\n\t\t\"ssuser\" : {\n\t\t\t\"id\": \"arcaneasada\",\n\t\t\t\"numid\"\
          : \"27224648\",\n\t\t\t\"niveau\": \"1\",\n\t\t\t\"contribution\": \"0\",\n\
          \t\t\t\"uploadsysteme\": \"0\",\n\t\t\t\"uploadinfos\": \"0\",\n\t\t\t\"romasso\"\
          : \"0\",\n\t\t\t\"uploadmedia\": \"0\",\n\t\t\t\"propositionok\": \"0\",\n\
          \t\t\t\"propositionko\": \"0\",\n\t\t\t\"quotarefu\": \"0\",\n\t\t\t\"maxthreads\"\
          : \"1\",\n\t\t\t\"maxdownloadspeed\": \"128\",\n\t\t\t\"requeststoday\": \"\
          0\",\n\t\t\t\"requestskotoday\": \"0\",\n\t\t\t\"maxrequestspermin\": \"3072\"\
          ,\n\t\t\t\"maxrequestsperday\": \"20000\",\n\t\t\t\"maxrequestskoperday\"\
          : \"2000\",\n\t\t\t\"visites\": \"19\",\n\t\t\t\"datedernierevisite\": \"\
          2025-07-22 04:21:46\",\n\t\t\t\"favregion\": \"\"\n\t\t\t},\n\t\t\"jeu\" :\
          \ {\n\t\t\t\"id\": \"1\",\n\t\t\t\"romid\": \"\",\n\t\t\t\"notgame\": \"false\"\
          ,\n\t\t\t\"noms\": [\n\t\t\t\t{\"region\": \"ss\", \"text\": \"Battletoads\"\
          },\n\t\t\t\t{\"region\": \"wor\", \"text\": \"Battletoads\"}\n\t\t\t],\n\t\
          \t\t\"cloneof\": \"0\",\n\t\t\t\"systeme\": {\"id\": \"1\", \"text\": \"Megadrive\"\
          },\n\t\t\t\"editeur\": {\"id\": \"1\", \"text\": \"Tradewest\"},\n\t\t\t\"\
          developpeur\": {\"id\": \"2\", \"text\": \"Rareware\"},\n\t\t\t\"joueurs\"\
          : {\"text\": \"1-2\"},\n\t\t\t\"note\": {\"text\": \"14\"},\n\t\t\t\"topstaff\"\
          : \"0\",\n\t\t\t\"rotation\": \"0\",\n\t\t\t\"synopsis\": [\n\t\t\t\t{ \"\
          langue\": \"en\", \"text\": \"The Dark Queen has attacked and kidnapped (toadnapped?)\
          \ your best buddy.. To make matters worse, she nabbed the best looking girl\
          \ around! So, what will you do? Cry? Whimper? Hide? Call the Starcops? NO!\
          \ Cause you're a Battletoad! Battletoads don't cry, hide or call for help!\
          \ And they certainly don't whimper! They get MAD then they get EVEN! So grab\
          \ your blaster, hop on the Toadster and go get 'em!\\n\\nYou will control\
          \ a battletoad through various levels. Some are side-scrolling beat-em-ups,\
          \ other are vertical drops down a shaft, fighting as you go, others have you\
          \ riding a rocket or surfboard, shooting or avoiding enemies. At the end of\
          \ each area, there is a boss. In some areas, about half-way through, you may\
          \ have a mini-boss.\"},\n\t\t\t\t{ \"langue\": \"fr\", \"text\": \"Battletoads\
          \ sur Megadrive vous met dans la peau de Zitz, crapaud aux pouvoirs qui sortent\
          \ de l'ordinaire. Votre but : sauver vos deux fr\\u00e8res enlev\\u00e9s par\
          \ la Reine Noire. D\\u00e9barrassez-vous de vos adversaires \\u00e0 travers\
          \ diverses phases de jeu passant par la conduite de v\\u00e9hicules, le simple\
          \ combat rapproch\\u00e9 ou le jeu de plates-formes.\"},\n\t\t\t\t{ \"langue\"\
          : \"de\", [...]
