interactions:
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.screenscraper.fr/api2/jeuRecherche.php?recherche=Sonic&systemeid=1
    response:
      body:
        string:
          "{\n\t\"header\" : {\n\t\t\"APIversion\" : \"2.0\",\n\t\t\"dateTime\"\
          \ : \"2025-07-23 05:46:56\",\n\t\t\"commandRequested\" : \"https://neoclone.screenscraper.fr/api2/jeuRecherche.php?recherche=Sonic&systemeid=1&devid=zurdi15&devpassword=xTJwoOFjOQG&output=json&softname=romm&ssid=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&sspassword=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\"\
          ,\n\t\t\"success\": \"true\",\n\t\t\"error\": \"\"\n\t},\n\t\"response\" :\
          \ {\n\t\t\"serveurs\" : {\n\t\t\t\"cpu1\": \"0\",\n\t\t\t\"cpu2\": \"0\",\n\
          \t\t\t\"cpu3\": \"0\",\n\t\t\t\"cpu4\": \"0\",\n\t\t\t\"threadsmin\": \"3540\"\
          ,\n\t\t\t\"nbscrapeurs\": \"548\",\n\t\t\t\"apiacces\": \"7207526\",\n\t\t\
          \t\"closefornomember\": \"0\",\n\t\t\t\"closeforleecher\": \"0\",\n\t\t\t\"\
          maxthreadfornonmember\": \"256\",\n\t\t\t\"threadfornonmember\": \"22\",\n\
          \t\t\t\"maxthreadformember\": \"4096\",\n\t\t\t\"threadformember\": \"302\"\
          \n\t\t},\n\t\t\"ssuser\" : {\n\t\t\t\"id\": \"arcaneasada\",\n\t\t\t\"numid\"\
          : \"27224648\",\n\t\t\t\"niveau\": \"1\",\n\t\t\t\"contribution\": \"0\",\n\
          \t\t\t\"uploadsysteme\": \"0\",\n\t\t\t\"uploadinfos\": \"0\",\n\t\t\t\"romasso\"\
          : \"0\",\n\t\t\t\"uploadmedia\": \"0\",\n\t\t\t\"propositionok\": \"0\",\n\
          \t\t\t\"propositionko\": \"0\",\n\t\t\t\"quotarefu\": \"0\",\n\t\t\t\"maxthreads\"\
          : \"1\",\n\t\t\t\"maxdownloadspeed\": \"128\",\n\t\t\t\"requeststoday\": \"\
          0\",\n\t\t\t\"requestskotoday\": \"0\",\n\t\t\t\"maxrequestspermin\": \"3072\"\
          ,\n\t\t\t\"maxrequestsperday\": \"20000\",\n\t\t\t\"maxrequestskoperday\"\
          : \"2000\",\n\t\t\t\"visites\": \"19\",\n\t\t\t\"datedernierevisite\": \"\
          2025-07-22 04:21:46\",\n\t\t\t\"favregion\": \"\"\n\t\t\t},\n\t\t\"jeux\"\
          \ : [{\n\t\t\t\"id\": \"3\",\n\t\t\t\"noms\": [\n\t\t\t\t{\"region\": \"ss\"\
          , \"text\": \"Sonic The Hedgehog 2\"},\n\t\t\t\t{\"region\": \"us\", \"text\"\
          : \"Sonic The Hedgehog 2\"},\n\t\t\t\t{\"region\": \"jp\", \"text\": \"Sonic\
          \ The Hedgehog 2\"},\n\t\t\t\t{\"region\": \"eu\", \"text\": \"Sonic The Hedgehog\
          \ 2\"}\n\t\t\t],\n\t\t\t\"systeme\": {\"id\": \"1\", \"text\": \"Megadrive\"\
          },\n\t\t\t\"editeur\": {\"id\": \"3\", \"text\": \"SEGA\"},\n\t\t\t\"developpeur\"\
          : {\"id\": \"3\", \"text\": \"SEGA\"},\n\t\t\t\"joueurs\": {\"text\": \"1-2\"\
          },\n\t\t\t\"note\": {\"text\": \"17\"},\n\t\t\t\"topstaff\": null,\n\t\t\t\
          \"rotation\": \"0\",\n\t\t\t\"controles\": \"6\",\n\t\t\t\"couleurs\": \"\
          0\",\n\t\t\t\"synopsis\": [\n\t\t\t\t{ \"langue\": \"de\", \"text\": \"Der\
          \ Fuchs Tails beobachtet Sonic und wird sein Freund, da er ebenfalls fast\
          \ so schnell wie Sonic laufen bzw. fliegen kann.\\r\\n\\r\\nJedoch versucht\
          \ Dr. Robotnik erneut die Weltherrschaft an sich zu rei\\u00dfen, indem er\
          \ alle Tiere wieder einf\\u00e4ngt und zudem eine fliegende Festung, dass\
          \ Death Egg, erschafft. Zudem ist er auf der Suche nach den 7 Chaos Emeralds,\
          \ die ihn nahezu unbesiegbar mac[...]
