# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
.zed/*
!.zed/settings.json
pyrightconfig.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# pycache
__pycache__

# secrets
.env

# database
mariadb
*.sqlite

# used to mock the library/config/mounts/etc while testing
frontend/assets/romm
frontend/assets/emulatorjs/cores
romm_mock

# virtualenv
.venv

# testing
backend/romm_test/resources
backend/romm_test/logs
backend/romm_test/config
.pytest_cache
/romm_test
.coverage

# service worker
frontend/dev-dist

# outside data
switch_titledb.json
switch_product_ids.json
