ROMM_BASE_PATH=/path/to/romm_mock
VITE_BACKEND_DEV_PORT=5000

# IGDB credentials
IGDB_CLIENT_ID=
IGDB_CLIENT_SECRET=

# STEAMGRIDDB API key
STEAMGRIDDB_API_KEY=

# Database driver (mariadb, sqlite)
ROMM_DB_DRIVER=

# Database config (only for mariadb)
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=romm
DB_USER=romm
DB_PASSWD=
DB_ROOT_PASSWD=

# Redis config (optional)
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# Authentication
ROMM_AUTH_SECRET_KEY=
ROMM_AUTH_ENABLED=true
ROMM_AUTH_USERNAME=admin
ROMM_AUTH_PASSWORD=admin
