ROMM_BASE_PATH=/path/to/romm_mock
VITE_BACKEND_DEV_PORT=5000

# Gunicorn (optional)
ROMM_HOST=localhost
GUNICORN_WORKERS=4 # (2 × CPU cores) + 1

# IGDB credentials
IGDB_CLIENT_ID=
IGDB_CLIENT_SECRET=

# Mobygames
MOBYGAMES_API_KEY=

# SteamGridDB
STEAMGRIDDB_API_KEY=

# Database config
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=romm
DB_USER=romm
DB_PASSWD=
DB_ROOT_PASSWD=

# Redis config
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# Authentication
ROMM_AUTH_USERNAME=admin
ROMM_AUTH_PASSWORD=admin
ROMM_AUTH_SECRET_KEY=

# Filesystem watcher (optional)
ENABLE_RESCAN_ON_FILESYSTEM_CHANGE=true
RESCAN_ON_FILESYSTEM_CHANGE_DELAY=5

# Periodic Tasks (optional)
ENABLE_SCHEDULED_RESCAN=true
SCHEDULED_RESCAN_CRON=0 3 * * *
ENABLE_SCHEDULED_UPDATE_SWITCH_TITLEDB=true
SCHEDULED_UPDATE_SWITCH_TITLEDB_CRON=0 4 * * *
