DB_HOST=romm-db
DB_NAME=romm
DB_USER=romm-user
DB_PASSWD=xxx
ROMM_AUTH_SECRET_KEY=xxx
IGDB_CLIENT_ID=xxx
IGDB_CLIENT_SECRET=xxx
MOBYGAMES_API_KEY=xxx # https://docs.romm.app/latest/Getting-Started/Generate-API-Keys/#mobygames
STEAMGRIDDB_API_KEY=xxx
SCREENSCRAPER_USER=xxx
SCREENSCRAPER_PASSWORD=xxx

MARIADB_ROOT_PASSWORD=xxx
MARIADB_DATABASE=romm
MARIADB_USER=romm-user
MARIADB_PASSWORD=xxx

ROMS_DIR=/mnt/nas/roms