interactions:
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.mobygames.com/v1/games?title=Sonic&format=normal&limit=5
    response:
      body:
        string:
          '{"games":[{"alternate_titles":[],"description":"<p>The Sonic &amp;
          Knuckles Collection contains three games ported from the Sega Genesis:</p>\n<ul>\n<li><a
          href=\"https://www.mobygames.com/game/6612/sonic-the-hedgehog-3/\">Sonic the
          Hedgehog 3</a></li>\n<li><a href=\"https://www.mobygames.com/game/6614/sonic-knuckles/\">Sonic
          &amp; Knuckles</a></li>\n<li><em>Sonic 3 &amp; Knuckles</em> (<em>Sonic the
          Hedgehog 3</em> running with the <em>Sonic &amp; Knuckles</em> modification
          enhancement)</li>\n</ul>\n<p>In addition it contains <em>Special Stage Mode</em>,
          a collection of bonus levels previously available in <em>Sonic &amp; Knuckles</em>
          as \"Blue Sphere\".</p>","game_id":1156,"genres":[{"genre_category":"Basic
          Genres","genre_category_id":1,"genre_id":1,"genre_name":"Action"},{"genre_category":"Basic
          Genres","genre_category_id":1,"genre_id":76,"genre_name":"Compilation"},{"genre_category":"Perspective","genre_category_id":2,"genre_id":128,"genre_name":"Behind
          view"},{"genre_category":"Perspective","genre_category_id":2,"genre_id":17,"genre_name":"Side
          view"},{"genre_category":"Gameplay","genre_category_id":4,"genre_id":21,"genre_name":"Platform"}],"moby_score":7.6,"moby_url":"https://www.mobygames.com/game/1156/sonic-knuckles-collection/","num_votes":17,"official_url":null,"platforms":[{"first_release_date":"1996","platform_id":3,"platform_name":"Windows"}],"sample_cover":{"height":800,"image":"https://cdn.mobygames.com/covers/7129144-sonic-knuckles-collection-windows-front-cover.jpg","platforms":["Windows"],"thumbnail_image":"https://cdn.mobygames.com/e39e215a-abf3-11ed-b83f-02420a000135.webp","width":647},"sample_screenshots":[{"caption":"Knuckles
          glides acroos the landscape","height":222,"image":"https://cdn.mobygames.com/screenshots/1121053-sonic-knuckles-collection-windows-knuckles-glides-acroos-the-lan.jpg","thumbnail_image":"https://cdn.mobygames.com/88e0c3e8-ab72-11ed-96f9-02420a00019a.webp","width":319},{"caption":"Sonic
          goes for a run","height":224,"image":"https://cdn.mobygames.com/screenshots/1119841-sonic-knuckles-collection-windows-sonic-goes-for-a-run.jpg","thumbnail_image":"https://cdn.mobygames.com/86800456-ab72-11ed-96f9-02420a00019a.webp","width":320},{"caption":"Special
          bonus stage","height":224,"image":"https://cdn.mobygames.com/screenshots/1119742-sonic-knuckles-collection-windows-special-bonus-stage.jpg","thumbnail_image":"https://cdn.mobygames.com/864afe82-ab72-11ed-96f9-02420a00019a.webp","width":317},{"caption":"Sonic
          gets ready to party","height":225,"image":"https://cdn.mobygames.com/screenshots/1119619-sonic-knuckles-collection-windows-sonic-gets-ready-to-party.jpg","thumbnail_image":"https://cdn.mobygames.com/86138c36-ab72-11ed-96f9-02420a00019a.webp","width":320}],"title":"Sonic
          & Knuckles Collection"},{"alternate_titles":[],"description":"<p>While on
          vacation, Tails and Sonic come across a recruiting advertisement for the World
          Grand Prix race. Sonic is not interested at first, but once he notices that
          Dr. Robotnik will participate he decides to enter. Robotnik is only interested
          in the race because he''s learned the location of the Chaos Emeralds and now
          he''ll get a chance to beat Sonic while he gets them. Knuckles finds out that
          Sonic will participate, so he joins him. Amy overhears Robotnik''s plan, so
          she will also be racing to get the Chaos Emeralds.</p>\n<p>There are many
          modes of gameplay in Sonic R:</p>\n<p>Grand Prix: You race against the rest
          of the characters on each of the circuits, and get a chance to race the level''s
          boss to unlock some of the extra playable characters.</p>\n<p>Time Attack:
          Run on one of the tracks as fast as you can, get 5 balloons or tag 4 characters.</p>\n<p>Multi
          Player: 4 players on a split-screen or over a network. You can race against
          up to three players or challenge them on a balloon finding game. The screen
          can be divided horizontally or vertically for 2 player games. </p>","game_id":2899,"genres":[{"genre_category":"Basic
          Genres","genre_category_id":1,"genre_id":6,"genre_name":"Racing / Driving"},{"genre_category":"Perspective","genre_category_id":2,"genre_id":128,"genre_name":"Behind
          view"},{"genre_category":"Art S[...]
