interactions:
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.mobygames.com/v1/games?format=normal&limit=5
    response:
      body:
        string:
          '{"games":[{"alternate_titles":[{"description":"Finnish title","title":"Salaiset
          Kansiot"},{"description":"PSX title","title":"The X Files"},{"description":"Spanish
          title","title":"The X-Files: Expediente X - El Juego"},{"description":"French
          title","title":"The X-Files: Le Jeu"}],"description":"<p>As an extension of
          one of the most long-running television series of all time, <em>The X-Files</em>,
          play through the eyes of Special Agent Craig Willmore, a new FBI field investigator
          brought in to locate missing agents Fox Mulder and Dana Scully whose last
          location was the Everett, Washington, area. In this \"movie quality\" video
          production, characters are played by the actors and actresses from the show,
          including <a href=\"https://www.mobygames.com/person/9411/gillian-anderson/\">Gillian
          Anderson</a> (Scully) and[...]
