interactions:
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.mobygames.com/v1/games?genre=1&format=normal&limit=3
    response:
      body:
        string:
          '{"games":[{"alternate_titles":[],"description":"<p>Roger Rabbit has
          been framed for the murder of Marvin Acme, head of the Acme Corporation. Acme''s
          will states that upon his death, Toon Town would be left to the Toons, but
          the will is nowhere to be found. You have to find the will and save your wife,
          Jessica, from Judge Doom and his weasels.</p>\n<p>The game takes place in
          Hollywood, 1947, where Toons are alive. There are 4 levels in the game, 2
          of which are driving levels (levels 1 &amp; 3). Roger and Benny the cab have
          to beat the weasels to the destination, while dodging cars, trams and Judge
          Doom''s dip which is scattered on the road. There are pick-ups to help you
          on your way.</p>\n<p>Level 2 is the Ink &amp; Paint Club. The will is on one
          of the tables. Roger has to pick up all the pieces of paper the penguin waiters
          put down, whilst avoiding the alcohol and gorilla bouncer.</p>\n<p>Level 4
          has you in Judge Doom''s warehouse trying to save your wife, Jessica, from
          the dip truck. You have to use gags to progress and make the weasels laugh
          themselves to death, literally!</p>","game_id":2,"genres":[{"genre_category":"Basic
          Genres","genre_category_id":1,"genre_id":1,"genre_name":"Action"},{"genre_category":"Gameplay","genre_category_id":4,"genre_id":9,"genre_name":"Arcade"},{"genre_category":"Other
          Attributes","genre_category_id":6,"genre_id":82,"genre_name":"Licensed"}],"moby_score":5.9,"moby_url":"https://www.mobygames.com/game/2/who-framed-roger-rabbit/","num_votes":34,"official_url":null,"platforms":[{"first_release_date":"1988","platform_id":2,"platform_name":"DOS"},{"first_release_date":"1988","platform_id":19,"platform_name":"Amiga"},{"first_release_date":"1988","platform_id":24,"platform_name":"Atari
          ST"},{"first_release_date":"1988","platform_id":27,"platform_name":"Commodore
          64"},{"first_release_date":"1988","platform_id":31,"platform_name":"Apple
          II"}],"sample_cover":{"height":700,"image":"https://cdn.mobygames.com/covers/4068119-who-framed-roger-rabbit-amiga-front-cover.jpg","platforms":["Amiga"],"thumbnail_image":"https://cdn.mobygames.com/b59d6706-aba4-11ed-ba50-02420a000199.webp","width":467},"sample_screenshots":[{"caption":"But
          don''t let the Waiter catch you. (CGA)","height":200,"image":"https://cdn.mobygames.com/screenshots/7288598-who-framed-roger-rabbit-dos-but-dont-let-the-waiter-catch-you-cg.png","thumbnail_image":"https://cdn.mobygames.com/272f1ce8-abf5-11ed-92cb-02420a000132.webp","width":320},{"caption":"The
          map of the city and where you need to go. Your remaining lives are represented
          by empty spaces for dip barrels","height":375,"image":"https://cdn.mobygames.com/screenshot[...]
