html,
body {
  background-color: rgba(var(--v-theme-background)) !important;
  overflow-y: auto;
}
.main-layout {
  z-index: 1010 !important;
}
.text-shadow {
  text-shadow:
    1px 1px 3px #000000,
    0 0 3px #000000 !important;
}
.translucent {
  backdrop-filter: blur(3px) !important;
  text-shadow:
    1px 1px 1px #000000,
    0 0 1px #000000 !important;
}
.translucent-dark {
  background: rgba(0, 0, 0, 0.35) !important;
  backdrop-filter: blur(10px) !important;
  text-shadow:
    1px 1px 1px #000000,
    0 0 1px #000000 !important;
}
.tooltip :deep(.v-overlay__content) {
  background: rgba(255, 255, 255, 1) !important;
  color: rgb(41, 41, 41) !important;
}
.scroll {
  overflow-x: visible !important;
  overflow-y: auto !important;
}
.scroll-hidden {
  overflow: hidden;
}
.emoji-collection {
  mask-image: linear-gradient(
    to right,
    black 0%,
    black 70%,
    transparent 100%
  ) !important;
}
.emoji {
  margin: 0 2px !important;
}
.file-input {
  display: none !important;
}
.transform-scale {
  transition-property: all !important;
  transition-duration: 0.1s !important;
}
.transform-scale.on-hover {
  transform: scale(1.1) !important;
}
.pointer {
  cursor: pointer !important;
}
.border-selected {
  border: 1px solid rgba(var(--v-theme-primary)) !important;
  transform: scale(1.1);
}
.greyscale {
  filter: grayscale(100%);
}
.unset-height {
  height: unset !important;
}
.drawer-mobile {
  width: calc(100% - 16px) !important;
}
.bottom-0 {
  bottom: 0 !important;
}
.bottom-50 {
  bottom: 50px !important;
}
.max-h-50 {
  height: fit-content !important;
  max-height: 50dvh !important;
}
.max-h-70 {
  height: fit-content !important;
  max-height: 70dvh !important;
}
