::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(164, 82, 254, 0.35);
  border-radius: 1px;
  border: transparent;
}

/* * {
  scrollbar-width: thin;
  scrollbar-color: #202832 rgba(0, 0, 0, 0);
} */
