::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  border-radius: 12px; /* More rounded */
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 12px; /* More rounded */
}
::-webkit-scrollbar-thumb {
  background-color: #a452fe59 transparent;
  border-radius: 12px; /* More rounded */
  border: transparent;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #a452fe59 transparent;
}
