/* Firefox */
* {
  scrollbar-width: None;
  scrollbar-color: #6e6e6e rgba(0, 0, 0, 0);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: #808080;
  border-radius: 0px;
}
