interactions:
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.mobygames.com/v1/games?format=brief&limit=3
    response:
      body:
        string:
          '{"games":[{"game_id":1,"moby_url":"https://www.mobygames.com/game/1/the-x-files-game/","title":"The
          X-Files Game"},{"game_id":2,"moby_url":"https://www.mobygames.com/game/2/who-framed-roger-rabbit/","title":"Who
          Framed Roger Rabbit"},{"game_id":3,"moby_url":"https://www.mobygames.com/game/3/wing-commander/","title":"Wing
          Commander"}]}

          '
      headers:
        Content-Type:
          - application/json
        Ratelimit-Limit:
          - "720"
        Ratelimit-Policy:
          - 1;w=1, 720;w=3600
        Ratelimit-Remaining:
          - "314"
        Ratelimit-Reset:
          - "1679"
      status:
        code: 200
        message: OK
version: 1
