interactions:
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.mobygames.com/v1/games?platform=1&format=normal&limit=3
    response:
      body:
        string:
          '{"games":[{"alternate_titles":[{"description":"Japanese title","title":"\u014czora
          no Kishi"}],"description":"<p><em>Knights of the Sky</em> is a World War I
          flight combat sim where you pilot one of 20 different aircraft (each handles
          differently) as you engage in simple missions or join a full campaign where
          you will progress through World War I, going on a variety of missions, patrols,
          and even encounter enemy aces. You can engage balloons and blimps, enemy fighters
          and bombers, even strafe group targets such as supply trains. If you do really
          well in the game, one of the enemy aces may drop a note to challenge you to
          an aerial duel. </p>\n<p>A unique feature of the game is the capability of
          modem link so you can challenge fellow modem owners to dogfights, something
          that none of its contemporaries had.</p>","game_id":28,"genres":[{"genre_category":"Basic
          Genres","genre_category_id":1,"genre_id":3,"genre_name":"Simulation"},{"genre_category":"Perspective","genre_category_id":2,"genre_id":7,"genre_name":"1st-person"},{"genre_category":"Perspective","genre_category_id":2,"genre_id":126,"genre_name":"3rd-person
          (Other)"},{"genre_category":"Vehicular Themes","genre_category_id":11,"genre_id":19,"genre_name":"Flight
          / aviation"},{"genre_category":"Vehicular Themes","genre_category_id":11,"genre_id":159,"genre_name":"Vehicular
          combat"},{"genre_category":"Setting","genre_category_id":10,"genre_id":14,"genre_name":"Historical
          events"},{"genre_category":"Setting","genre_category_id":10,"genre_id":214,"genre_name":"World
          War I"}],"moby_score":7.3,"moby_url":"https://www.mobygames.com/game/28/knights-of-the-sky/","num_votes":41,"official_url":null,"platforms":[{"first_release_date":"2016-07-21","platform_id":1,"platform_name":"Linux"},{"first_release_date":"1990","platform_id":2,"platform_name":"DOS"},{"first_release_date":"2016-07-21","platform_id":3,"platform_name":"Windows"},{"first_release_date":"1991","platform_id":19,"platform_name":"Amiga"},{"first_release_date":"1991","platform_id":24,"platform_name":"Atari
          ST"},{"first_release_date":"2016-07-21","platform_id":74,"platform_name":"Macintosh"},{"first_release_date":"1993-06-12","platform_id":95,"platform_name":"PC-98"}],"sample_cover":{"height":800,"image":"https://cdn.mobygames.com/covers/6872241-knights-of-the-sky-dos-front-cover.jpg","platforms":["DOS"],"thumbnail_image":"https://cdn.mobygames.com/e9addfc4-abf1-11ed-b206-02420a000131.webp","width":686},"sample_screenshots":[{"caption":"Home
          base desk","height":400,"image":"https://cdn.mobygames.com/screenshots/1714001-knights-of-the-sky-pc-98-home-base-desk.png","thumbnail_image":"https://cdn.mobygames.com/94e90a88-ab77-11ed-ac16-02420a000199.webp","width":640},{"caption":"Title
          Screen","height":200,"image":"https://cdn.mobygames.com/screenshots/1688400-knights-of-the-sky-dos-title-screen.png","thumbnail_image":"https://cdn.mobygames.com/5a38e728-ab77-11ed-bd13-02420a00019c.webp","width":320},{"caption":"S[...]
