interactions:
  - request:
      body:
        search "Paper Mario"; fields id,name,slug,summary,total_rating,aggregated_rating,first_release_date,artworks.url,cover.url,screenshots.url,platforms.id,platforms.name,alternative_names.name,genres.name,franchise.name,franchises.name,collections.name,game_modes.name,involved_companies.company.name,expansions.id,expansions.slug,expansions.name,expansions.cover.url,expanded_games.id,expanded_games.slug,expanded_games.name,expanded_games.cover.url,dlcs.id,dlcs.name,dlcs.slug,dlcs.cover.url,remakes.id,remakes.slug,remakes.name,remakes.cover.url,remasters.id,remasters.slug,remasters.name,remasters.cover.url,ports.id,ports.slug,ports.name,ports.cover.url,similar_games.id,similar_games.slug,similar_games.name,similar_games.cover.url;
        where platforms=[4] & (category=0 | category=10); limit 200;
      headers:
        Authorization:
          - Bearer test_token
        Client-ID:
          - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      method: POST
      uri: https://api.igdb.com/v4/games
    response:
      body:
        string:
          "{\n  \"message\": \"Authorization Failure. Have you tried:\",\n  \"Tip
          1\":   \"Ensure you are sending Authorization and Client-ID as headers.\",\n
          \ \"Tip 2\":   \"Ensure Authorization value starts with 'Bearer ', including
          the space\",\n  \"Tip 3\":   \"Ensure Authorization value ends with the App
          Access Token you generated, NOT your Client Secret.\",\n  \"Docs\":    \"https://api-docs.igdb.com/#authentication\",\n
          \ \"Discord\": \"https://discord.gg/igdb\"\n}\n"
      headers:
        Content-Type:
          - application/json
        x-amz-apigw-id:
          - bBiYcG8dvHcEJyg=
        x-amzn-errortype:
          - AccessDeniedException
        x-amzn-requestid:
          - b6b00df1-1438-4aa1-bda3-0cd0f7c23296
      status:
        code: 401
        message: Unauthorized
  - request:
      body: null
      headers:
      method: POST
      uri: https://id.twitch.tv/oauth2/token?client_id=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&client_secret=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&grant_type=client_credentials
    response:
      body:
        string:
          '{"access_token":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","expires_in":5624809,"token_type":"bearer"}

          '
      headers:
        Content-Type:
          - application/json
        X-Ctxlog-Logid:
          - 1-6696e436-783213912ac0e5067f1e9592
      status:
        code: 200
        message: OK
  - request:
      body:
        search "Paper Mario"; fields id,name,slug,summary,total_rating,aggregated_rating,first_release_date,artworks.url,cover.url,screenshots.url,platforms.id,platforms.name,alternative_names.name,genres.name,franchise.name,franchises.name,collections.name,game_modes.name,involved_companies.company.name,expansions.id,expansions.slug,expansions.name,expansions.cover.url,expanded_games.id,expanded_games.slug,expanded_games.name,expanded_games.cover.url,dlcs.id,dlcs.name,dlcs.slug,dlcs.cover.url,remakes.id,remakes.slug,remakes.name,remakes.cover.url,remasters.id,remasters.slug,remasters.name,remasters.cover.url,ports.id,ports.slug,ports.name,ports.cover.url,similar_games.id,similar_games.slug,similar_games.name,similar_games.cover.url;
        where platforms=[4] & (category=0 | category=10); limit 200;
      headers:
        Authorization:
          - Bearer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        Client-ID:
          - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      method: POST
      uri: https://api.igdb.com/v4/games
    response:
      body:
        string:
          "[\n  {\n    \"id\": 3340,\n    \"aggregated_rating\": 90.0,\n    \"alternative_names\":
          [\n      {\n        \"id\": 39105,\n        \"name\": \"Zhi Pian Mario\"\n
          \     },\n      {\n        \"id\": 51791,\n        \"name\": \"\u30DE\u30EA\u30AA\u30B9\u30C8\u30FC\u30EA\u30FC\"\n
          \     },\n      {\n        \"id\": 51792,\n        \"name\": \"\u7EB8\u7247\u9A6C\u91CC\u5965\"\n
          \     },\n      {\n        \"id\": 78718,\n        \"name\": \"Mario Story\"\n
          \     },\n      {\n        \"id\": 88088,\n        \"name\": \"Super Mario
          RPG 2\"\n      },\n      {\n        \"id\": 119107,\n        \"name\": \"\u7EB8\u7247\u9A6C\u529B\u6B27\"\n
          \     },\n      {\n        \"id\": 137285,\n        \"name\": \"\uD398\uC774\uD37C
          \uB9C8\uB9AC\uC624\"\n      }\n    ],\n    \"artworks\": [\n      {\n        \"id\":
          73649,\n        \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/ar1ktt.jpg\"\n
          \     }\n    ],\n    \"cover\": {\n      \"id\": 80830,\n      \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/co1qda.jpg\"\n
          \   },\n    \"first_release_date\": 965952000,\n    \"franchises\": [\n      {\n
          \       \"id\": 845,\n        \"name\": \"Mario\"\n      }\n    ],\n    \"game_modes\":
          [\n      {\n        \"id\": 1,\n        \"name\": \"Single player\"\n      }\n
          \   ],\n    \"genres\": [\n      {\n        \"id\": 12,\n        \"name\":
          \"Role-playing (RPG)\"\n      },\n      {\n        \"id\": 16,\n        \"name\":
          \"Turn-based strategy (TBS)\"\n      },\n      {\n        \"id\": 31,\n        \"name\":
          \"Adventure\"\n      }\n    ],\n    \"involved_companies\": [\n      {\n        \"id\":
          148214,\n        \"company\": {\n          \"id\": 70,\n          \"name\":
          \"Nintendo\"\n        }\n      },\n      {\n        \"id\": 225578,\n        \"company\":
          {\n          \"id\": 5163,\n          \"name\": \"iQue\"\n        }\n      },\n
          \     {\n        \"id\": 225579,\n        \"company\": {\n          \"id\":
          812,\n          \"name\": \"Gradiente\"\n        }\n      },\n      {\n        \"id\":
          264416,\n        \"company\": {\n          \"id\": 25077,\n          \"name\":
          \"Intelligent Systems\"\n        }\n      }\n    ],\n    \"name\": \"Paper
          Mario\",\n    \"platforms\": [\n      {\n        \"id\": 4,\n        \"name\":
          \"Nintendo 64\"\n      },\n      {\n        \"id\": 5,\n        \"name\":
          \"Wii\"\n      },\n      {\n        \"id\": 41,\n        \"name\": \"Wii U\"\n
          \     }\n    ],\n    \"screenshots\": [\n      {\n        \"id\": 24167,\n
          \       \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/a5r3k2lf3lgvifrycqeg.jpg\"\n
          \     },\n      {\n        \"id\": 24168,\n        \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/hdxgs9nruycvrzcgvseu.jpg\"\n
          \     },\n      {\n        \"id\": 24169,\n        \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/ig9ainu9fershqdinox1.jpg\"\n
          \     },\n      {\n        \"id\": 24170,\n        \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/jz66se3deczeta6hd4ys.jpg\"\n
          \     },\n      {\n        \"id\": 24171,\n        \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/kjnf90jnud6njmwto3th.jpg\"\n
          \     }\n    ],\n    \"similar_games\": [\n      {\n        \"id\": 358,\n
          \       \"cover\": {\n          \"id\": 312995,\n          \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/co6pib.jpg\"\n
          \       },\n        \"name\": \"Super Mario Bros.\",\n        \"slug\": \"super-mario-bros\"\n
          \     },\n      {\n        \"id\": 660,\n        \"cover\": {\n          \"id\":
          357155,\n          \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/co7nkz.jpg\"\n
          \       },\n        \"name\": \"Darkstone\",\n        \"slug\": \"darkstone\"\n
          \     },\n      {\n        \"id\": 1026,\n        \"cover\": {\n          \"id\":
          181427,\n          \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/co3vzn.jpg\"\n
     [...]
  - request:
      body:
        fields game.id,name; where game.platforms=[4] & (name ~ *"Paper Mario"*
        | alternative_name ~ *"Paper Mario"*); limit 200;
      headers:
        Authorization:
          - Bearer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        Client-ID:
          - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      method: POST
      uri: https://api.igdb.com/v4/search
    response:
      body:
        string:
          "[\n  {\n    \"id\": 103536,\n    \"game\": {\n      \"id\": 3340\n
          \   },\n    \"name\": \"Paper Mario\"\n  },\n  {\n    \"id\": 12331114,\n
          \   \"game\": {\n      \"id\": 155012\n    },\n    \"name\": \"Bowser\\u0027s
          Dark Story\"\n  },\n  {\n    \"id\": 12409264,\n    \"game\": {\n      \"id\":
          159325\n    },\n    \"name\": \"Paper Mario Multiplayer\"\n  },\n  {\n    \"id\":
          12409477,\n    \"game\": {\n      \"id\": 159343\n    },\n    \"name\": \"Paper
          Mario Black Pit\"\n  }[...]
[...]
