interactions:
  - request:
      body: fields id,name; where slug="n64"; limit 200;
      headers:
        Authorization:
          - Bearer test_token
        Client-ID:
          - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      method: POST
      uri: https://api.igdb.com/v4/platforms
    response:
      body:
        string:
          "{\n  \"message\": \"Authorization Failure. Have you tried:\",\n  \"Tip
          1\":   \"Ensure you are sending Authorization and Client-ID as headers.\",\n
          \ \"Tip 2\":   \"Ensure Authorization value starts with 'Bearer ', including
          the space\",\n  \"Tip 3\":   \"Ensure Authorization value ends with the App
          Access Token you generated, NOT your Client Secret.\",\n  \"Docs\":    \"https://api-docs.igdb.com/#authentication\",\n
          \ \"Discord\": \"https://discord.gg/igdb\"\n}\n"
      headers:
        Content-Type:
          - application/json
        x-amz-apigw-id:
          - ZhOuyGawPHcEmUQ=
        x-amzn-errortype:
          - AccessDeniedException
        x-amzn-requestid:
          - 3e53a3ee-5c90-491e-9672-c7a048bd596b
      status:
        code: 401
        message: Unauthorized
  - request:
      body: null
      headers:
      method: POST
      uri: https://id.twitch.tv/oauth2/token?client_id=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&client_secret=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&grant_type=client_credentials
    response:
      body:
        string:
          '{"access_token":"emaxpf4c7rlbt30js8iif0el0nygp8","expires_in":5647699,"token_type":"bearer"}

          '
      headers:
        Content-Type:
          - application/json
        X-Ctxlog-Logid:
          - 1-66705e5f-11952900765a988e7c6e449b
      status:
        code: 200
        message: OK
  - request:
      body: fields id,name; where slug="n64"; limit 200;
      headers:
        Authorization:
          - Bearer emaxpf4c7rlbt30js8iif0el0nygp8
        Client-ID:
          - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      method: POST
      uri: https://api.igdb.com/v4/platforms
    response:
      body:
        string: "[\n  {\n    \"id\": 4,\n    \"name\": \"Nintendo 64\"\n  }\n]"
      headers:
        Content-Type:
          - application/json
        x-amz-apigw-id:
          - ZhOvAEWYPHcEDOQ=
        x-amzn-remapped-content-length:
          - "50"
        x-amzn-remapped-date:
          - Mon, 17 Jun 2024 16:03:43 GMT
        x-amzn-requestid:
          - cc9ed3b6-4195-4b6a-922c-d5d0c4227ad2
        x-count:
          - "1"
      status:
        code: 200
        message: OK
[...]
  - request:
      body: fields id,name; where slug=""; limit 200;
      headers:
        Authorization:
          - Bearer wuxsvs55uzd59noni1vq1w4gez1tok
        Client-ID:
          - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      method: POST
      uri: https://api.igdb.com/v4/platform_versions
    response:
      body:
        string: "[]"
      headers:
        Content-Type:
          - application/json
        x-amz-apigw-id:
          - ZhOvdGS4PHcEk9g=
        x-amzn-remapped-content-length:
          - "2"
        x-amzn-remapped-date:
          - Mon, 17 Jun 2024 16:03:46 GMT
        x-amzn-requestid:
          - fb152fd2-097c-4685-a6a2-89ca39583612
        x-count:
          - "0"
      status:
        code: 200
        message: OK
version: 1
