**/node_modules
node_modules/

**/venv
venv/

**/__pycache__
__pycache__/

**/assets/library
../frontend/assets/library/

**/.env
.env

**/romm_test
romm_test/

**/romm_mock
romm_mock/

**/.pytest_cache
.pytest_cache/
