interactions:
- request:
    body: fields id, name; where slug="n64";
    headers:
      Authorization:
      - Bearer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/platforms/
  response:
    body:
      string: "{\n  \"message\": \"Authorization Failure. Have you tried:\",\n  \"Tip
        1\":   \"Ensure you are sending Authorization and Client-ID as headers.\",\n
        \ \"Tip 2\":   \"Ensure Authorization value starts with 'Bearer ', including
        the space\",\n  \"Tip 3\":   \"Ensure Authorization value ends with the App
        Access Token you generated, NOT your Client Secret.\",\n  \"Docs\":    \"https://api-docs.igdb.com/#authentication\",\n
        \ \"Discord\": \"https://discord.gg/FrvfwQg\"\n}\n"
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - Rygs9G6QPHcEp6Q=
      x-amzn-ErrorType:
      - AccessDeniedException
      x-amzn-RequestId:
      - f5db871a-286b-4678-90a1-f76e1b1f9589
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
    method: POST
    uri: https://id.twitch.tv/oauth2/token?client_id=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&client_secret=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&grant_type=client_credentials
  response:
    body:
      string: '{"access_token":"f2e6dg9iq7t3ewie86rcphdb7xmrr4","expires_in":5446613,"token_type":"bearer"}

        '
    headers:
      Content-Type:
      - application/json
      X-Ctxlog-Logid:
      - 1-65aa7b20-59ebf75d0a230ec439f79578
    status:
      code: 200
      message: OK
- request:
    body: fields id, name; where slug="n64";
    headers:
      Authorization:
      - Bearer f2e6dg9iq7t3ewie86rcphdb7xmrr4
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/platforms/
  response:
    body:
      string: "[\n  {\n    \"id\": 4,\n    \"name\": \"Nintendo 64\"\n  }\n]"
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '1'
      x-amz-apigw-id:
      - RygtQH5QvHcEOWg=
      x-amzn-Remapped-Content-Length:
      - '50'
      x-amzn-Remapped-Date:
      - Fri, 19 Jan 2024 13:37:37 GMT
      x-amzn-RequestId:
      - e160c12d-050e-4ace-a78c-4119da0f995a
    status:
      code: 200
      message: OK
[...]
- request:
    body: fields id, name; where slug="";
    headers:
      Authorization:
      - Bearer dgnj5jacdcprwqcumxksdhz971u99l
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/platform_versions/
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '0'
      x-amz-apigw-id:
      - RygtvFBBPHcEJBQ=
      x-amzn-Remapped-Content-Length:
      - '2'
      x-amzn-Remapped-Date:
      - Fri, 19 Jan 2024 13:37:40 GMT
      x-amzn-RequestId:
      - ce901324-4bde-4c6d-adbf-195a8363ece2
    status:
      code: 200
      message: OK
version: 1
