interactions:
- request:
    body: fields id,name; where slug="n64"; limit 200;
    headers:
      Authorization:
      - Bearer test_token
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/platforms
  response:
    body:
      string: "{\n  \"message\": \"Authorization Failure. Have you tried:\",\n  \"Tip
        1\":   \"Ensure you are sending Authorization and Client-ID as headers.\",\n
        \ \"Tip 2\":   \"Ensure Authorization value starts with 'Bearer ', including
        the space\",\n  \"Tip 3\":   \"Ensure Authorization value ends with the App
        Access Token you generated, NOT your Client Secret.\",\n  \"Docs\":    \"https://api-docs.igdb.com/#authentication\",\n
        \ \"Discord\": \"https://discord.gg/FrvfwQg\"\n}\n"
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - SqFrjG8cvHcEsow=
      x-amzn-ErrorType:
      - AccessDeniedException
      x-amzn-RequestId:
      - e17b6363-8357-4d1a-b1b1-5df52aee507f
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
    method: POST
    uri: https://id.twitch.tv/oauth2/token?client_id=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&client_secret=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&grant_type=client_credentials
  response:
    body:
      string: '{"access_token":"gqy5f0475v9vmuc0oej35s0rv37yla","expires_in":5347118,"token_type":"bearer"}

        '
    headers:
      Content-Type:
      - application/json
      X-Ctxlog-Logid:
      - 1-65c0b64a-7602ada2440662a13dd4c0d2
    status:
      code: 200
      message: OK
- request:
    body: fields id,name; where slug="n64"; limit 200;
    headers:
      Authorization:
      - Bearer gqy5f0475v9vmuc0oej35s0rv37yla
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/platforms
  response:
    body:
      string: "[\n  {\n    \"id\": 4,\n    \"name\": \"Nintendo 64\"\n  }\n]"
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '1'
      x-amz-apigw-id:
      - SqFr0HIhPHcEMGA=
      x-amzn-Remapped-Content-Length:
      - '50'
      x-amzn-Remapped-Date:
      - Mon, 05 Feb 2024 10:19:55 GMT
      x-amzn-RequestId:
      - 171fcf4a-af1b-44a1-b60d-9b8fad2cbb7e
    status:
      code: 200
      message: OK
[...]
- request:
    body: fields id,name; where slug=""; limit 200;
    headers:
      Authorization:
      - Bearer f56aqiqruwgbxs8t5u3dm7rnkizd7a
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/platform_versions
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '0'
      x-amz-apigw-id:
      - SqFsUHxcPHcER0Q=
      x-amzn-Remapped-Content-Length:
      - '2'
      x-amzn-Remapped-Date:
      - Mon, 05 Feb 2024 10:19:58 GMT
      x-amzn-RequestId:
      - 6e67de07-5089-4a76-b084-0e99c1154564
    status:
      code: 200
      message: OK
version: 1
