interactions:
- request:
    body: fields id, name; where slug="n64";
    headers:
      Authorization:
      - Bearer test_token
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/platforms/
  response:
    body:
      string: "{\n  \"message\": \"Authorization Failure. Have you tried:\",\n  \"Tip
        1\":   \"Ensure you are sending Authorization and Client-ID as headers.\",\n
        \ \"Tip 2\":   \"Ensure Authorization value starts with 'Bearer ', including
        the space\",\n  \"Tip 3\":   \"Ensure Authorization value ends with the App
        Access Token you generated, NOT your Client Secret.\",\n  \"Docs\":    \"https://api-docs.igdb.com/#authentication\",\n
        \ \"Discord\": \"https://discord.gg/FrvfwQg\"\n}\n"
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - ScsT1FBsPHcEt_g=
      x-amzn-ErrorType:
      - AccessDeniedException
      x-amzn-RequestId:
      - 81274b72-eef8-48ec-ab22-f45cc4c30eb1
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
    method: POST
    uri: https://id.twitch.tv/oauth2/token?client_id=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&client_secret=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&grant_type=client_credentials
  response:
    body:
      string: '{"access_token":"xc7m1cbiabp74vzarsdl0e6gpdaewv","expires_in":5266987,"token_type":"bearer"}

        '
    headers:
      Content-Type:
      - application/json
      X-Ctxlog-Logid:
      - 1-65bb5a7f-4b3e39101850e48750a78a5f
    status:
      code: 200
      message: OK
- request:
    body: fields id, name; where slug="n64";
    headers:
      Authorization:
      - Bearer xc7m1cbiabp74vzarsdl0e6gpdaewv
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/platforms/
  response:
    body:
      string: "[\n  {\n    \"id\": 4,\n    \"name\": \"Nintendo 64\"\n  }\n]"
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '1'
      x-amz-apigw-id:
      - ScsUHF6nvHcEvaw=
      x-amzn-Remapped-Content-Length:
      - '50'
      x-amzn-Remapped-Date:
      - Thu, 01 Feb 2024 08:46:56 GMT
      x-amzn-RequestId:
      - 488fda60-0ecc-4a3f-8865-e2a5cea01f05
    status:
      code: 200
      message: OK
[...]
- request:
    body: fields id, name; where slug="";
    headers:
      Authorization:
      - Bearer 2amb2ts7c84zg2sqsykzot2hl4g3q6
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/platform_versions/
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '0'
      x-amz-apigw-id:
      - ScsUoGVQvHcEq5w=
      x-amzn-Remapped-Content-Length:
      - '2'
      x-amzn-Remapped-Date:
      - Thu, 01 Feb 2024 08:46:59 GMT
      x-amzn-RequestId:
      - 02538ffc-e8f1-4e0f-832a-1e77a6a4a6b3
    status:
      code: 200
      message: OK
version: 1
