version: "3"

volumes:
  mysql_data:
  romm_resources:
  romm_redis_data:

services:
  romm:
    image: rommapp/romm:latest
    container_name: romm
    restart: unless-stopped
    environment:
      - DB_HOST= romm-db
      - DB_NAME= NoiseBox
      - DB_USER= RenyNoise
      - DB_PASSWD= RockMan9!!
      - ROMM_AUTH_SECRET_KEY= 03a054b6ca27e0107c5eed552ea66becd9f3a2a8a91e7595cd462a593f9ecd09
      - SCREENSCRAPER_USER= renynoise@gmail.com
      - SCREENSCRAPER_PASSWORD= RockMan9
      - RETROACHIEVEMENTS_API_KEY= ooVBM8mcpXRtzv8psvNz34PTa3KuBXfv
      - STEAMGRIDDB_API_KEY= # https://docs.romm.app/latest/Getting-Started/Metadata-Providers/#steamgriddb
      - HASHEOUS_API_ENABLED=true # https://docs.romm.app/latest/Getting-Started/Metadata-Providers/#hasheous
    volumes:
      - romm_resources:/romm/resources # Resources fetched from IGDB (covers, screenshots, etc.)
      - romm_redis_data:/redis-data # Cached data for background tasks
      - /path/to/library:/romm/library G:\roms
      - /path/to/assets:/romm/assets G:\saves
      - /path/to/config:/romm/config G:\
    ports:
      - 80:8080
    depends_on:
      romm-db:
        condition: service_healthy
        restart: true

  romm-db:
    image: mariadb:latest
    container_name: romm-db
    restart: unless-stopped
    environment:
      - MARIADB_ROOT_PASSWORD= RockMan9!!
      - MARIADB_DATABASE= NoiseBox
      - MARIADB_USER= RenyNoise
      - MARIADB_PASSWORD= RockMan9!!
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 30s
      start_interval: 10s
      interval: 10s
      timeout: 5s
      retries: 5
