interactions:
  - request:
      body: null
      headers:
        Authorization:
          - Bearer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      method: GET
      uri: https://steamgriddb.com/api/v2/grids/game/1?styles=material&limit=3
    response:
      body: {}
      headers:
        Content-Type:
          - text/html
        Location:
          - https://www.steamgriddb.com/api/v2/grids/game/1?styles=material&limit=3
      status:
        code: 301
        message: Moved Permanently
  - request:
      body: null
      headers:
        Authorization:
          - Bearer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      method: GET
      uri: https://www.steamgriddb.com/api/v2/grids/game/1?styles=material&limit=3
    response:
      body:
        string: '{"success":true,"page":0,"total":0,"limit":3,"data":[]}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
version: 1
