interactions:
  - request:
      body: null
      headers:
        Authorization:
          - Bearer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      method: GET
      uri: https://steamgriddb.com/api/v2/grids/game/1?limit=5
    response:
      body: {}
      headers:
        Content-Type:
          - text/html
        Location:
          - https://www.steamgriddb.com/api/v2/grids/game/1?limit=5
      status:
        code: 301
        message: Moved Permanently
  - request:
      body: null
      headers:
        Authorization:
          - Bearer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      method: GET
      uri: https://www.steamgriddb.com/api/v2/grids/game/1?limit=5
    response:
      body:
        string:
          '{"success":true,"page":0,"total":14,"limit":5,"data":[{"id":103281,"score":0,"style":"alternate","width":600,"height":900,"nsfw":false,"humor":false,"notes":null,"mime":"image\/png","language":"en","url":"https:\/\/cdn2.steamgriddb.com\/grid\/bafd5785e9335ccde7bcde6051b5dcf6.png","thumb":"https:\/\/cdn2.steamgriddb.com\/thumb\/bafd5785e9335ccde7bcde6051b5dcf6.png","lock":false,"epilepsy":false,"upvotes":0,"downvotes":0,"author":{"name":"duckdicks","steam64":"76561198265411778","avatar":"https:\/\/avatars.steamstatic.com\/834b570adf40c70d7d2379cf0f9332e2534dde13_medium.jpg"}},{"id":318178,"score":0,"style":"alternate","width":600,"height":900,"nsfw":false,"humor":false,"notes":null,"mime":"image\/jpeg","language":"en","url":"https:\/\/cdn2.steamgriddb.com\/grid\/fe80a3e914e35e5ba0157e1a85a3d14f.jpg","thumb":"https:\/\/cdn2.steamgriddb.com\/thumb\/fe80a3e914e35e5ba0157e1a85a3d14f.jpg","lock":false,"epilepsy":false,"upvotes":0,"downvotes":0,"author":{"name":"DebonairTBS","steam64[...]
