interactions:
  - request:
      body: null
      headers:
        Authorization:
          - Bearer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      method: GET
      uri: https://steamgriddb.com/api/v2/search/autocomplete/Mario
    response:
      body: {}
      headers:
        Content-Type:
          - text/html
        Location:
          - https://www.steamgriddb.com/api/v2/search/autocomplete/Mario
      status:
        code: 301
        message: Moved Permanently
  - request:
      body: null
      headers:
        Authorization:
          - Bearer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      method: GET
      uri: https://www.steamgriddb.com/api/v2/search/autocomplete/Mario
    response:
      body:
        string:
          '{"success":true,"data":[{"id":10,"name":"Mario Party 5","verified":true,"types":[],"release_date":1068508800},{"id":51,"name":"Mario''s
          Picross","verified":true,"types":[],"release_date":795139200},{"id":1266,"name":"Mario
          Bros.","verified":true,"types":["eshop"],"release_date":425001600},{"id":1681,"name":"Mario
          Golf: Advance Tour","verified":true,"types":["eshop"],"release_date":1082592000},{"id":12862,"name":"Mario
          Pinball Land","verified":true,"types":["eshop"],"release_date":1093478400},{"id":21164,"name":"Mario
          Kart 64","verified":true,"types":["eshop"],"release_date":850521600},{"id":25624,"name":"Mario
          Kart DS","verified":true,"types":["eshop"],"release_date":1131926400},{"id":25642,"name":"Mario
          Tennis","verified":true,"types":["eshop"],"release_date":964137600},{"id":29847,"name":"Mario''s
          Early Years: Fun with Numbers","verified":true,"types":[],"release_date":778377600},{"id":33767,"name":"Mario
          Party 9","verified":true,"types":[],"release_date":1330646400}]}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
version: 1
