interactions:
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://retroachievements.org/API/API_GetGameList.php?i=1&c=5
    response:
      body:
        string:
          '[{"Title":"~Hack~ ~Demo~ Gatoslip: Chapter 0","ID":30734,"ConsoleID":1,"ConsoleName":"Genesis\/Mega
          Drive","ImageIcon":"\/Images\/101272.png","NumAchievements":28,"NumLeaderboards":1,"Points":265,"DateModified":"2024-12-17
          22:07:11","ForumTopicID":27761},{"Title":"~Hack~ ~Demo~ Pantufa the Cat: Extended
          Edition","ID":31909,"ConsoleID":1,"ConsoleName":"Genesis\/Mega Drive","ImageIcon":"\/Images\/000001.png","NumAchievements":0,"NumLeaderboards":0,"Points":0,"DateModified":null,"ForumTopicID":null},{"Title":"~Hack~
          ~Demo~ Sonic Christmas Trouble","ID":32759,"ConsoleID":1,"ConsoleName":"Genesis\/Mega
          Drive","ImageIcon":"\/Images\/000001.png","NumAchievements":0,"NumLeaderboards":0,"Points":0,"DateModified":null,"ForumTopicID":null},{"Title":"~Hack~
          ~Demo~ Touhou: An Aftermath of the Index","ID":29744,"ConsoleID":1,"ConsoleName":"Genesis\/Mega
          Drive","ImageIcon":"\/Images\/097780.png","NumAchievements":0,"NumLeaderboards":0,"Points":0,"DateModified":"2024-05-22
          17:10:15","ForumTopicID":26387},{"Title":"~Hack~ 137E0 Action 1 Steak","ID":22103,"ConsoleID":1,"ConsoleName":"Genesis\/Mega
          Drive","ImageIcon":"\/Images\/097896.png","NumAchievements":7,"NumLeaderboards":1,"Points":19,"DateModified":"2023-01-14
          17:24:05","ForumTopicID":19822}]'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
version: 1
