interactions:
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://retroachievements.org/API/API_GetUserCompletionProgress.php?u=Scott&c=3&o=0
    response:
      body:
        string:
          '{"Count":3,"Total":444,"Results":[{"GameID":3595,"Title":"Time Crisis","ImageIcon":"\/Images\/032393.png","ConsoleID":12,"ConsoleName":"PlayStation","MaxPossible":26,"NumAwarded":9,"NumAwardedHardcore":9,"MostRecentAwardedDate":"2025-06-17T13:03:32+00:00","HighestAwardKind":null,"HighestAwardDate":null},{"GameID":3368,"Title":"Picross
          NP Vol. 7","ImageIcon":"\/Images\/024817.png","ConsoleID":3,"ConsoleName":"SNES\/Super
          Famicom","MaxPossible":27,"NumAwarded":5,"NumAwardedHardcore":5,"MostRecentAwardedDate":"2025-06-13T20:03:57+00:00","HighestAwardKind":null,"HighestAwardDate":null},{"GameID":9617,"Title":"Picross
          3D","ImageIcon":"\/Images\/039370.png","ConsoleID":18,"ConsoleName":"Nintendo
          DS","MaxPossible":44,"NumAwarded":29,"NumAwardedHardcore":29,"MostRecentAwardedDate":"2025-05-30T15:32:03+00:00","HighestAwardKind":null,"HighestAwardDate":null}]}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
version: 1
