interactions:
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://retroachievements.org/API/API_GetGameInfoAndUserProgress.php?u=Scott&g=1
    response:
      body:
        string:
          '{"ID":1,"Title":"Sonic the Hedgehog","ConsoleID":1,"ConsoleName":"Genesis\/Mega
          Drive","ParentGameID":null,"NumDistinctPlayers":45785,"NumDistinctPlayersCasual":45785,"NumDistinctPlayersHardcore":45785,"NumAchievements":36,"NumAwardedToUser":35,"NumAwardedToUserHardcore":35,"UserCompletion":"97.22%","UserCompletionHardcore":"97.22%","ForumTopicID":112,"Flags":0,"ImageIcon":"\/Images\/085573.png","ImageTitle":"\/Images\/054993.png","ImageIngame":"\/Images\/000010.png","ImageBoxArt":"\/Images\/112941.png","Publisher":"Sega","Developer":"Sonic
          Team","Genre":"2D Platforming","Released":"1991-06-11","ReleasedAtGranularity":"day","IsFinal":false,"RichPresencePatch":"cce60593880d25c97797446ed33eaffb","Achievements":{"9":{"ID":9,"Title":"That
          Was Easy","Description":"Complete the first act in Green Hill Zone","Points":3,"TrueRatio":3,"Type":"progression","BadgeName":"250336","NumAwarded":40968,"NumAwardedHardcore":18588,"DisplayOrder":1,"Author":"Scott","AuthorULID":"0178KDFZ3GDQSVWG8VX5XGQAJ7","DateCreated":"2012-11-02
          00:03:12","DateModified":"2023-08-08 00:36:59","MemAddr":"22c9d5e2cd7571df18a1a1b43dfe1fea","DateEarned":"2014-04-18
          23:13:38","DateEarnedHardcore":"2017-12-22 23:50:22"},"16":{"ID":16,"Title":"The
          Floor is Lava","Description":"Get to Marble Zone (no stage select code)","Points":5,"TrueRatio":6,"Type":"progression","BadgeName":"250334","NumAwarded":22222,"NumAwardedHardcore":11618,"DisplayOrder":2,"Author":"Scott","AuthorULID":"0178KDFZ3GDQSVWG8VX5XGQAJ7","DateCreated":"2012-11-02
          00:03:12","DateModified":"2023-08-08 00:36:33","MemAddr":"055aa4ac1f8d0df1d44feee95393ed44","DateEarned":"2021-12-14
          00:08:04","Date[...]
