interactions:
- request:
    body: "\n                search \"Mario\";\n                fields id, slug, name,
      summary;\n                where platforms=[4];\n            "
    headers:
      Authorization:
      - Bearer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/games/
  response:
    body:
      string: "[\n  {\n    \"id\": 132642,\n    \"name\": \"Super Mario 64: Shindou
        Pak Taiou Version\",\n    \"slug\": \"super-mario-64-shindou-pak-taiou-version\",\n
        \   \"summary\": \"This version of Super Mario 64, originally released only
        in Japan, is an enhancement over the International release of the game, as
        it retains all of the glitch fixes as well as graphical and sound changes.
        The main differences of this version are the Rumble Pak support, some small
        glitch fixes, the most notorious being the removal of the backwards long jump,
        a very important technique for the speedrunning scene, and a new title screen
        easter eg[...]
- request:
    body: fields url; where game=132642;
    headers:
      Authorization:
      - Bearer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/covers/
  response:
    body:
      string: "[\n  {\n    \"id\": 277580,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/co5y6k.jpg\"\n
        \ }\n]"
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '1'
      x-amz-apigw-id:
      - JG4yzHeHvHcF3ZA=
      x-amzn-Remapped-Content-Length:
      - '97'
      x-amzn-Remapped-Date:
      - Thu, 03 Aug 2023 23:41:56 GMT
      x-amzn-RequestId:
      - 0789832f-e6d8-47ac-a235-284830ceabcf
    status:
      code: 200
      message: OK
- request:
    body: fields url; where game=132642; limit 5;
    headers:
      Authorization:
      - Bearer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/screenshots/
  response:
    body:
      string: "[\n  {\n    \"id\": 384858,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/sc88yi.jpg\"\n
        \ },\n  {\n    \"id\": 384857,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/sc88yh.jpg\"\n
        \ },\n  {\n    \"id\": 664841,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/sce8zt.jpg\"\n
        \ },\n  {\n    \"id\": 664839,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/sce8zr.jpg\"\n
        \ },\n  {\n    \"id\": 664836,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/sce8zo.jpg\"\n
        \ }\n]"
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '10'
      x-amz-apigw-id:
      - JG4y2FvFvHcFhuA=
      x-amzn-Remapped-Content-Length:
      - '477'
      x-amzn-Remapped-Date:
      - Thu, 03 Aug 2023 23:41:57 GMT
      x-amzn-RequestId:
      - dfd1923f-ebb9-4ce5-86c5-1bbcf0ccd473
    status:
      code: 200
      message: OK
[...]
- request:
    body: "\n                search \"Notarealgametitle\";\n                fields
      id, slug, name, summary;\n                where platforms=[4];\n            "
    headers:
      Authorization:
      - Bearer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/games/
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '0'
      x-amz-apigw-id:
      - JG40PFDbvHcF_EQ=
      x-amzn-Remapped-Content-Length:
      - '2'
      x-amzn-Remapped-Date:
      - Thu, 03 Aug 2023 23:42:06 GMT
      x-amzn-RequestId:
      - b3f2b3ab-809c-43a9-b7e7-0611eca4dec0
    status:
      code: 200
      message: OK
version: 1
