interactions:
- request:
    body: fields id, name; where slug="n64";
    headers:
      Authorization:
      - Bearer test_token
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/platforms/
  response:
    body:
      string: "{\n  \"message\": \"Authorization Failure. Have you tried:\",\n  \"Tip
        1\":   \"Ensure you are sending Authorization and Client-ID as headers.\",\n
        \ \"Tip 2\":   \"Ensure Authorization value starts with 'Bearer ', including
        the space\",\n  \"Tip 3\":   \"Ensure Authorization value ends with the App
        Access Token you generated, NOT your Client Secret.\",\n  \"Docs\":    \"https://api-docs.igdb.com/#authentication\",\n
        \ \"Discord\": \"https://discord.gg/FrvfwQg\"\n}\n"
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - Rygp8FT2PHcEUiw=
      x-amzn-ErrorType:
      - AccessDeniedException
      x-amzn-RequestId:
      - 95bd8829-ef4f-4432-bd7d-9ccaf436f56a
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
    method: POST
    uri: https://id.twitch.tv/oauth2/token?client_id=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&client_secret=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&grant_type=client_credentials
  response:
    body:
      string: '{"access_token":"88ukw5q2sqlhctxykq8s8t97iql9yo","expires_in":5080333,"token_type":"bearer"}

        '
    headers:
      Content-Type:
      - application/json
      X-Ctxlog-Logid:
      - 1-65aa7b0d-4fe3b6b5219e294d30e2f68a
    status:
      code: 200
      message: OK
- request:
    body: fields id, name; where slug="n64";
    headers:
      Authorization:
      - Bearer test_token
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/platforms/
  response:
    body:
      string: "[\n  {\n    \"id\": 4,\n    \"name\": \"Nintendo 64\"\n  }\n]"
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '1'
      x-amz-apigw-id:
      - RygqPEL5PHcESbg=
      x-amzn-Remapped-Content-Length:
      - '50'
      x-amzn-Remapped-Date:
      - Fri, 19 Jan 2024 13:37:18 GMT
      x-amzn-RequestId:
      - 81a7c41d-ba91-4740-b50f-01750f498682
    status:
      code: 200
      message: OK
[...]
- request:
    body: fields id, name; where slug="not-real";
    headers:
      Authorization:
      - Bearer l3btktkckysdzd6zlb314x4x32yna8
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/platform_versions/
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '0'
      x-amz-apigw-id:
      - RygqxF-JvHcEhbQ=
      x-amzn-Remapped-Content-Length:
      - '2'
      x-amzn-Remapped-Date:
      - Fri, 19 Jan 2024 13:37:21 GMT
      x-amzn-RequestId:
      - 9702c7c2-606e-4e08-82af-70e7841e46b6
    status:
      code: 200
      message: OK
version: 1
