interactions:
- request:
    body: "\n                search \"Paper Mario \";\n                fields id,
      slug, name, summary;\n                where platforms=[4];\n            "
    headers:
      Authorization:
      - Bearer xxxxxxxxxxxxxxxxxxxxxxxx
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/games/
  response:
    body:
      string: "[\n  {\n    \"id\": 3340,\n    \"name\": \"Paper Mario\",\n    \"slug\":
        \"paper-mario\",\n    \"summary\": \"Paper Mario, a turn-based JRPG entry
        in the Mario franchise with a paper-based aesthetic and platforming elements,
        sees the titular character working his way through the Mushroom Kingdom\\u0027s
        diverse locales and biomes, meeting its inhabitants, fighthing unruly enemies
        and recruiting an array of companions in order to once again save Princess
        Peach from the clutches of the evil Koopa King Bowser.\"\n  },\n  {\n    \"id\":
        257636,\n    \"name\[...]
- request:
    body: fields url; where game=3340;
    headers:
      Authorization:
      - Bearer xxxxxxxxxxxxxxxxxxxxxxxx
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/covers/
  response:
    body:
      string: "[\n  {\n    \"id\": 80830,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/co1qda.jpg\"\n
        \ }\n]"
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '1'
      x-amz-apigw-id:
      - I9oJWHrYPHcFoEg=
      x-amzn-Remapped-Content-Length:
      - '96'
      x-amzn-Remapped-Date:
      - Tue, 01 Aug 2023 04:16:08 GMT
      x-amzn-RequestId:
      - 197db96b-9f5e-4cb6-bad2-17c1590cb200
    status:
      code: 200
      message: OK
- request:
    body: fields url; where game=3340; limit 5;
    headers:
      Authorization:
      - Bearer xxxxxxxxxxxxxxxxxxxxxxxx
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/screenshots/
  response:
    body:
      string: "[\n  {\n    \"id\": 24169,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/ig9ainu9fershqdinox1.jpg\"\n
        \ },\n  {\n    \"id\": 24167,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/a5r3k2lf3lgvifrycqeg.jpg\"\n
        \ },\n  {\n    \"id\": 24168,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/hdxgs9nruycvrzcgvseu.jpg\"\n
        \ },\n  {\n    \"id\": 24171,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/kjnf90jnud6njmwto3th.jpg\"\n
        \ },\n  {\n    \"id\": 24170,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/jz66se3deczeta6hd4ys.jpg\"\n
        \ }\n]"
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '5'
      x-amz-apigw-id:
      - I9oJZGrwvHcFRkA=
      x-amzn-Remapped-Content-Length:
      - '542'
      x-amzn-Remapped-Date:
      - Tue, 01 Aug 2023 04:16:08 GMT
      x-amzn-RequestId:
      - 57eb446f-d727-446b-bb70-581b3983ad8f
    status:
      code: 200
      message: OK
[...]
- request:
    body: "\n                search \"Notarealgametitle\";\n                fields
      id, slug, name, summary;\n                where platforms=[4];\n            "
    headers:
      Authorization:
      - Bearer xxxxxxxxxxxxxxxxxxxxxxxx
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/games/
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '0'
      x-amz-apigw-id:
      - I9oKfGVaPHcF4og=
      x-amzn-Remapped-Content-Length:
      - '2'
      x-amzn-Remapped-Date:
      - Tue, 01 Aug 2023 04:16:15 GMT
      x-amzn-RequestId:
      - 81279507-197f-4278-935f-a8113e46920c
    status:
      code: 200
      message: OK
version: 1
