interactions:
- request:
    body: "\n                search \"WWE Smack\";\n                fields id, slug,
      name, summary, screenshots;\n                where platforms=[8] ;\n            "
    headers:
      Authorization:
      - Bearer test_token
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/games/
  response:
    body:
      string: "{\n  \"message\": \"Authorization Failure. Have you tried:\",\n  \"Tip
        1\":   \"Ensure you are sending Authorization and Client-ID as headers.\",\n
        \ \"Tip 2\":   \"Ensure Authorization value starts with 'Bearer ', including
        the space\",\n  \"Tip 3\":   \"Ensure Authorization value ends with the App
        Access Token you generated, NOT your Client Secret.\",\n  \"Docs\":    \"https://api-docs.igdb.com/#authentication\",\n
        \ \"Discord\": \"https://discord.gg/FrvfwQg\"\n}\n"
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - RFKyDFjYPHcEgLw=
      x-amzn-ErrorType:
      - AccessDeniedException
      x-amzn-RequestId:
      - 4db631d7-10ca-4505-99b0-000e64fab321
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
    method: POST
    uri: https://id.twitch.tv/oauth2/token?client_id=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&client_secret=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&grant_type=client_credentials
  response:
    body:
      string: '{"access_token":"ycmxc7vv0hesse6mjvg9hium4iku9s","expires_in":4762653,"token_type":"bearer"}

        '
    headers:
      Content-Type:
      - application/json
      X-Ctxlog-Logid:
      - 1-6598580d-72814aa35ddb1dba5cc27010
    status:
      code: 200
      message: OK
- request:
    body: "\n                search \"WWE Smack\";\n                fields id, slug,
      name, summary, screenshots;\n                where platforms=[8] ;\n            "
    headers:
      Authorization:
      - Bearer ycmxc7vv0hesse6mjvg9hium4iku9s
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/games/
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '0'
      x-amz-apigw-id:
      - RFKyNFyyvHcEKyA=
      x-amzn-Remapped-Content-Length:
      - '2'
      x-amzn-Remapped-Date:
      - Fri, 05 Jan 2024 19:27:10 GMT
      x-amzn-RequestId:
      - ea9517b3-ad01-416d-99dd-7a9a73868337
    status:
      code: 200
      message: OK
[...]
- request:
    body: "\n                search \"WWE SmackDown! vs. RAW\";\n                fields
      id, slug, name, summary, screenshots;\n                where platforms=[8] ;\n
      \           "
    headers:
      Authorization:
      - Bearer 9vv70shduosepkqte323j2sk7e5l16
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/games/
  response:
    body:
      string: "[\n  {\n    \"id\": 80852,\n    \"name\": \"WWE Smackdown! vs. Raw\",\n
        \   \"screenshots\": [\n      337102,\n      337103,\n      337104,\n      337105,\n
        \     337106,\n      337107,\n      337108\n    ],\n    \"slug\": \"wwe-smackdown-vs-raw\",\n
        \   \"summary\": \"WWE SmackDown! vs. Raw brings two of wrestling\\u0027s
        most popular game series together on the PS2. The game re-creates WWE programming
        with voice-overs and commentary throughout the season mode. During matches,
        you can learn a host of new gameplay moves, such as stare-downs, chop battles,
        and submission reversals. You can also try out situational challenges or create
        your own championship. Play as your favorite wrestler, including legends and
        [...]
- request:
    body: fields url; where game=80852;
    headers:
      Authorization:
      - Bearer 9vv70shduosepkqte323j2sk7e5l16
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/covers/
  response:
    body:
      string: "[\n  {\n    \"id\": 209154,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/co4hdu.jpg\"\n
        \ }\n]"
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '1'
      x-amz-apigw-id:
      - RFKysFlZvHcEQfQ=
      x-amzn-Remapped-Content-Length:
      - '97'
      x-amzn-Remapped-Date:
      - Fri, 05 Jan 2024 19:27:13 GMT
      x-amzn-RequestId:
      - 391acfec-991b-4b11-8ec1-bc5ccc558a7c
    status:
      code: 200
      message: OK
- request:
    body: fields url; where game=80852; limit 5;
    headers:
      Authorization:
      - Bearer 9vv70shduosepkqte323j2sk7e5l16
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/screenshots/
  response:
    body:
      string: "[\n  {\n    \"id\": 337103,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/sc783z.jpg\"\n
        \ },\n  {\n    \"id\": 337104,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/sc7840.jpg\"\n
        \ },\n  {\n    \"id\": 337105,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/sc7841.jpg\"\n
        \ },\n  {\n    \"id\": 337102,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/sc783y.jpg\"\n
        \ },\n  {\n    \"id\": 337107,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/sc7843.jpg\"\n
        \ }\n]"
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '7'
      x-amz-apigw-id:
      - RFKyyGQhPHcEpHQ=
      x-amzn-Remapped-Content-Length:
      - '477'
      x-amzn-Remapped-Date:
      - Fri, 05 Jan 2024 19:27:13 GMT
      x-amzn-RequestId:
      - c3bcc7b4-bdfc-4c69-8a60-c8b5e6a7478b
    status:
      code: 200
      message: OK
version: 1
