interactions:
- request:
    body: "\n                search \"WWE Smack\";\n                fields id, slug,
      name, summary, screenshots;\n                where platforms=[8] ;\n            "
    headers:
      Authorization:
      - Bearer test_token
      Client-ID:
      - dxhlue92dw8wz4kdtdx710g88366rb
    method: POST
    uri: https://api.igdb.com/v4/games/
  response:
    body:
      string: "{\n  \"message\": \"Authorization Failure. Have you tried:\",\n  \"Tip
        1\":   \"Ensure you are sending Authorization and Client-ID as headers.\",\n
        \ \"Tip 2\":   \"Ensure Authorization value starts with 'Bearer ', including
        the space\",\n  \"Tip 3\":   \"Ensure Authorization value ends with the App
        Access Token you generated, NOT your Client Secret.\",\n  \"Docs\":    \"https://api-docs.igdb.com/#authentication\",\n
        \ \"Discord\": \"https://discord.gg/FrvfwQg\"\n}\n"
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - QyC6fHnWPHcETBQ=
      x-amzn-ErrorType:
      - AccessDeniedException
      x-amzn-RequestId:
      - fc9f8453-c0c3-4d9a-b8e6-2c612dcfd618
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
    method: POST
    uri: https://id.twitch.tv/oauth2/token?client_id=dxhlue92dw8wz4kdtdx710g88366rb&client_secret=ko5cy0bygkkd76m8od2ko5ts2hhbza&grant_type=client_credentials
  response:
    body:
      string: '{"access_token":"pwfyezgl4ph82g5ufu5wq7pcm6jnw8","expires_in":4765826,"token_type":"bearer"}

        '
    headers:
      Content-Type:
      - application/json
      X-Ctxlog-Logid:
      - 1-6590b1dc-33915068093e097e5a9a19d0
    status:
      code: 200
      message: OK
- request:
    body: "\n                search \"WWE Smack\";\n                fields id, slug,
      name, summary, screenshots;\n                where platforms=[8] ;\n            "
    headers:
      Authorization:
      - Bearer pwfyezgl4ph82g5ufu5wq7pcm6jnw8
      Client-ID:
      - dxhlue92dw8wz4kdtdx710g88366rb
    method: POST
    uri: https://api.igdb.com/v4/games/
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '0'
      x-amz-apigw-id:
      - QyC6oEfovHcEN5A=
      x-amzn-Remapped-Content-Length:
      - '2'
      x-amzn-Remapped-Date:
      - Sun, 31 Dec 2023 00:12:13 GMT
      x-amzn-RequestId:
      - 04404a7e-fafd-4f1a-bc0f-e9848401b225
    status:
      code: 200
      message: OK
[...]
- request:
    body: fields url; where game=None;
    headers:
      Authorization:
      - Bearer pwfyezgl4ph82g5ufu5wq7pcm6jnw8
      Client-ID:
      - dxhlue92dw8wz4kdtdx710g88366rb
    method: POST
    uri: https://api.igdb.com/v4/covers/
  response:
    body:
      string: "[\n  {\n    \"title\": \"Syntax Error\",\n    \"status\": 400,\n    \"cause\":
        \"Expecting a STRING as input, surround your input with quotes starting at
        \\u0027None\\u0027 expecting {\\u0027{\\u0027, \\u0027f\\u0027, \\u0027(\\u0027,
        \\u0027[\\u0027, \\u0027true\\u0027, \\u0027t\\u0027, \\u0027false\\u0027,
        \\u0027null\\u0027, \\u0027n\\u0027\"\n  }\n]"
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - QyC60EzavHcETpg=
      x-amzn-Remapped-Content-Length:
      - '319'
      x-amzn-Remapped-Date:
      - Sun, 31 Dec 2023 00:12:14 GMT
      x-amzn-RequestId:
      - 6c7b6c57-e05a-4ded-8b94-95ecb52ed4a3
    status:
      code: 400
      message: Bad Request
- request:
    body: fields url; where game=None; limit 5;
    headers:
      Authorization:
      - Bearer pwfyezgl4ph82g5ufu5wq7pcm6jnw8
      Client-ID:
      - dxhlue92dw8wz4kdtdx710g88366rb
    method: POST
    uri: https://api.igdb.com/v4/screenshots/
  response:
    body:
      string: "[\n  {\n    \"title\": \"Syntax Error\",\n    \"status\": 400,\n    \"cause\":
        \"Expecting a STRING as input, surround your input with quotes starting at
        \\u0027None\\u0027 expecting {\\u0027{\\u0027, \\u0027f\\u0027, \\u0027(\\u0027,
        \\u0027[\\u0027, \\u0027true\\u0027, \\u0027t\\u0027, \\u0027false\\u0027,
        \\u0027null\\u0027, \\u0027n\\u0027\"\n  }\n]"
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - QyC64FliPHcEpPg=
      x-amzn-Remapped-Content-Length:
      - '319'
      x-amzn-Remapped-Date:
      - Sun, 31 Dec 2023 00:12:15 GMT
      x-amzn-RequestId:
      - 72e15f03-8b4c-4b9d-85f6-0745de68d8d4
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: "\n                search \"WWE SmackDown! vs. RAW\";\n                fields
      id, slug, name, summary, screenshots;\n                where platforms=[8] ;\n
      \           "
    headers:
      Authorization:
      - Bearer 66gdkzzo8cwp215ne52kgfne1d620d
      Client-ID:
      - dxhlue92dw8wz4kdtdx710g88366rb
    method: POST
    uri: https://api.igdb.com/v4/games/
  response:
    body:
      string: "[\n  {\n    \"id\": 80852,\n    \"name\": \"WWE Smackdown! vs. Raw\",\n
        \   \"screenshots\": [\n      337102,\n      337103,\n      337104,\n      337105,\n
        \     337106,\n      337107,\n      337108\n    ],\n    \"slug\": \"wwe-smackdown-vs-raw\",\n
        \   \"summary\": \"WWE SmackDown! vs. Raw brings two of wrestling\\u0027s
        most popular game series together on the PS2. The game re-creates WWE programming
        with voice-overs and commentary throughout the season mode. During matches,
        you can learn a host of new gameplay moves, such as stare-downs, chop battles,
        and submission reversals. You can also try out situational challenges or create
        your own championship. Play as your favorite wrestler, including legends and
        [...]
- request:
    body: fields url; where game=80852;
    headers:
      Authorization:
      - Bearer 66gdkzzo8cwp215ne52kgfne1d620d
      Client-ID:
      - dxhlue92dw8wz4kdtdx710g88366rb
    method: POST
    uri: https://api.igdb.com/v4/covers/
  response:
    body:
      string: "[\n  {\n    \"id\": 209154,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/co4hdu.jpg\"\n
        \ }\n]"
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '1'
      x-amz-apigw-id:
      - QyC7JFN7PHcEJvw=
      x-amzn-Remapped-Content-Length:
      - '97'
      x-amzn-Remapped-Date:
      - Sun, 31 Dec 2023 00:12:16 GMT
      x-amzn-RequestId:
      - c799756f-4f7b-48aa-b60a-87011fe3c1f3
    status:
      code: 200
      message: OK
- request:
    body: fields url; where game=80852; limit 5;
    headers:
      Authorization:
      - Bearer 66gdkzzo8cwp215ne52kgfne1d620d
      Client-ID:
      - dxhlue92dw8wz4kdtdx710g88366rb
    method: POST
    uri: https://api.igdb.com/v4/screenshots/
  response:
    body:
      string: "[\n  {\n    \"id\": 337103,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/sc783z.jpg\"\n
        \ },\n  {\n    \"id\": 337104,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/sc7840.jpg\"\n
        \ },\n  {\n    \"id\": 337105,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/sc7841.jpg\"\n
        \ },\n  {\n    \"id\": 337102,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/sc783y.jpg\"\n
        \ },\n  {\n    \"id\": 337107,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/sc7843.jpg\"\n
        \ }\n]"
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '7'
      x-amz-apigw-id:
      - QyC7NEbUPHcEsKg=
      x-amzn-Remapped-Content-Length:
      - '477'
      x-amzn-Remapped-Date:
      - Sun, 31 Dec 2023 00:12:17 GMT
      x-amzn-RequestId:
      - d41011d0-0634-4435-8f41-162974af04f8
    status:
      code: 200
      message: OK
version: 1
