interactions:
  - request:
      body: fields id,name; where slug="n64"; limit 200;
      headers:
        Authorization:
          - Bearer test_token
        Client-ID:
          - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      method: POST
      uri: https://api.igdb.com/v4/platforms
    response:
      body:
        string:
          "{\n  \"message\": \"Authorization Failure. Have you tried:\",\n  \"Tip
          1\":   \"Ensure you are sending Authorization and Client-ID as headers.\",\n
          \ \"Tip 2\":   \"Ensure Authorization value starts with 'Bearer ', including
          the space\",\n  \"Tip 3\":   \"Ensure Authorization value ends with the App
          Access Token you generated, NOT your Client Secret.\",\n  \"Docs\":    \"https://api-docs.igdb.com/#authentication\",\n
          \ \"Discord\": \"https://discord.gg/FrvfwQg\"\n}\n"
      headers:
        Content-Type:
          - application/json
        x-amz-apigw-id:
          - Srt7zFSKvHcErYw=
        x-amzn-ErrorType:
          - AccessDeniedException
        x-amzn-RequestId:
          - eef2214a-ef62-4ad5-ba35-d65ea42cecde
      status:
        code: 401
        message: Unauthorized
  - request:
      body: null
      headers:
      method: POST
      uri: https://id.twitch.tv/oauth2/token?client_id=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&client_secret=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&grant_type=client_credentials
    response:
      body:
        string:
          '{"access_token":"13m8b1obi8ve00zv8pduri4gd1n45r","expires_in":5682731,"token_type":"bearer"}

          '
      headers:
        Content-Type:
          - application/json
        X-Ctxlog-Logid:
          - 1-65c15d18-02acd31b248aeb7d6de50f3a
      status:
        code: 200
        message: OK
  - request:
      body: fields id,name; where slug="n64"; limit 200;
      headers:
        Authorization:
          - Bearer 13m8b1obi8ve00zv8pduri4gd1n45r
        Client-ID:
          - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      method: POST
      uri: https://api.igdb.com/v4/platforms
    response:
      body:
        string: "[\n  {\n    \"id\": 4,\n    \"name\": \"Nintendo 64\"\n  }\n]"
      headers:
        Content-Type:
          - application/json
        X-Count:
          - "1"
        x-amz-apigw-id:
          - Srt7-F5dvHcEsow=
        x-amzn-Remapped-Content-Length:
          - "50"
        x-amzn-Remapped-Date:
          - Mon, 05 Feb 2024 22:11:37 GMT
        x-amzn-RequestId:
          - bd9b9060-66aa-493d-a1e9-f216beeb2401
      status:
        code: 200
        message: OK
[...]
  - request:
      body: fields id,name; where slug=""; limit 200;
      headers:
        Authorization:
          - Bearer test_token
        Client-ID:
          - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      method: POST
      uri: https://api.igdb.com/v4/platform_versions
    response:
      body:
        string: "[]"
      headers:
        Content-Type:
          - application/json
        X-Count:
          - "0"
        x-amz-apigw-id:
          - Srt8SHCnvHcEMiQ=
        x-amzn-Remapped-Content-Length:
          - "2"
        x-amzn-Remapped-Date:
          - Mon, 05 Feb 2024 22:11:39 GMT
        x-amzn-RequestId:
          - 44818aaa-eb7f-42b1-ad66-3566ed5134e0
      status:
        code: 200
        message: OK
version: 1
