interactions:
- request:
    body: fields slug, name, summary; where id=3340;
    headers:
      Authorization:
      - Bearer xxxxxxxxxxxxxxxxxxxxxxxx
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/games/
  response:
    body:
      string: "[\n  {\n    \"id\": 3340,\n    \"name\": \"Paper Mario\",\n    \"slug\":
        \"paper-mario\",\n    \"summary\": \"Paper Mario, a turn-based JRPG entry
        in the Mario franchise with a paper-based aesthetic and platforming elements,
        sees the titular character working his way through the Mushroom Kingdom\\u0027s
        diverse locales and biomes, meeting its inhabitants, fighthing unruly enemies
        and recruiting an array of companions in order to once again save Princess
        Peach from the clutches of the evil Koopa King Bowser.\"\n  }\n]"
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '1'
      x-amz-apigw-id:
      - I9mJNHhpvHcFxCA=
      x-amzn-Remapped-Content-Length:
      - '500'
      x-amzn-Remapped-Date:
      - Tue, 01 Aug 2023 04:02:28 GMT
      x-amzn-RequestId:
      - 9b7ad635-7643-44af-9987-c9fb2a458d90
    status:
      code: 200
      message: OK
- request:
    body: fields url; where game=3340;
    headers:
      Authorization:
      - Bearer xxxxxxxxxxxxxxxxxxxxxxxx
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/covers/
  response:
    body:
      string: "[\n  {\n    \"id\": 80830,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/co1qda.jpg\"\n
        \ }\n]"
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '1'
      x-amz-apigw-id:
      - I9mJPHKmPHcFUQQ=
      x-amzn-Remapped-Content-Length:
      - '96'
      x-amzn-Remapped-Date:
      - Tue, 01 Aug 2023 04:02:28 GMT
      x-amzn-RequestId:
      - ff503170-c13e-4a2a-a198-9ca8efba711c
    status:
      code: 200
      message: OK
- request:
    body: fields url; where game=3340; limit 5;
    headers:
      Authorization:
      - Bearer xxxxxxxxxxxxxxxxxxxxxxxx
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/screenshots/
  response:
    body:
      string: "[\n  {\n    \"id\": 24169,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/ig9ainu9fershqdinox1.jpg\"\n
        \ },\n  {\n    \"id\": 24168,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/hdxgs9nruycvrzcgvseu.jpg\"\n
        \ },\n  {\n    \"id\": 24171,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/kjnf90jnud6njmwto3th.jpg\"\n
        \ },\n  {\n    \"id\": 24170,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/jz66se3deczeta6hd4ys.jpg\"\n
        \ },\n  {\n    \"id\": 24167,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/a5r3k2lf3lgvifrycqeg.jpg\"\n
        \ }\n]"
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '5'
      x-amz-apigw-id:
      - I9mJSGLdPHcFylA=
      x-amzn-Remapped-Content-Length:
      - '542'
      x-amzn-Remapped-Date:
      - Tue, 01 Aug 2023 04:02:28 GMT
      x-amzn-RequestId:
      - 88315c38-509b-4718-a1f3-0b4c60adc236
    status:
      code: 200
      message: OK
version: 1
