interactions:
- request:
    body: "\n                search \"WWE Smack\";\n                fields id, slug,
      name, summary, screenshots;\n                where platforms=[8] ;\n            "
    headers:
      Authorization:
      - Bearer test_token
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/games/
  response:
    body:
      string: "{\n  \"message\": \"Authorization Failure. Have you tried:\",\n  \"Tip
        1\":   \"Ensure you are sending Authorization and Client-ID as headers.\",\n
        \ \"Tip 2\":   \"Ensure Authorization value starts with 'Bearer ', including
        the space\",\n  \"Tip 3\":   \"Ensure Authorization value ends with the App
        Access Token you generated, NOT your Client Secret.\",\n  \"Docs\":    \"https://api-docs.igdb.com/#authentication\",\n
        \ \"Discord\": \"https://discord.gg/FrvfwQg\"\n}\n"
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - QyVmIEylPHcELDA=
      x-amzn-ErrorType:
      - AccessDeniedException
      x-amzn-RequestId:
      - 0e8e898b-d07c-42e5-b9af-37b90507329a
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
    method: POST
    uri: https://id.twitch.tv/oauth2/token?client_id=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&client_secret=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&grant_type=client_credentials
  response:
    body:
      string: '{"access_token":"kzpl3usb531xaea7slfr8qj61ko0pk","expires_in":5594983,"token_type":"bearer"}

        '
    headers:
      Content-Type:
      - application/json
      X-Ctxlog-Logid:
      - 1-6590cfc0-1e4f09df1f1e03d607439118
    status:
      code: 200
      message: OK
- request:
    body: "\n                search \"WWE Smack\";\n                fields id, slug,
      name, summary, screenshots;\n                where platforms=[8] ;\n            "
    headers:
      Authorization:
      - Bearer kzpl3usb531xaea7slfr8qj61ko0pk
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/games/
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '0'
      x-amz-apigw-id:
      - QyVmREngPHcEVnw=
      x-amzn-Remapped-Content-Length:
      - '2'
      x-amzn-Remapped-Date:
      - Sun, 31 Dec 2023 02:19:45 GMT
      x-amzn-RequestId:
      - c03daa25-3551-4ac3-96a6-edb047de1246
    status:
      code: 200
      message: OK
[...]
- request:
    body: fields url; where game=None;
    headers:
      Authorization:
      - Bearer kzpl3usb531xaea7slfr8qj61ko0pk
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/covers/
  response:
    body:
      string: "[\n  {\n    \"title\": \"Syntax Error\",\n    \"status\": 400,\n    \"cause\":
        \"Expecting a STRING as input, surround your input with quotes starting at
        \\u0027None\\u0027 expecting {\\u0027{\\u0027, \\u0027f\\u0027, \\u0027(\\u0027,
        \\u0027[\\u0027, \\u0027true\\u0027, \\u0027t\\u0027, \\u0027false\\u0027,
        \\u0027null\\u0027, \\u0027n\\u0027\"\n  }\n]"
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - QyVmeFrjPHcESmg=
      x-amzn-Remapped-Content-Length:
      - '319'
      x-amzn-Remapped-Date:
      - Sun, 31 Dec 2023 02:19:46 GMT
      x-amzn-RequestId:
      - 81da4b8e-8e00-4d66-bd38-d6aaf2221769
    status:
      code: 400
      message: Bad Request
- request:
    body: fields url; where game=None; limit 5;
    headers:
      Authorization:
      - Bearer kzpl3usb531xaea7slfr8qj61ko0pk
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/screenshots/
  response:
    body:
      string: "[\n  {\n    \"title\": \"Syntax Error\",\n    \"status\": 400,\n    \"cause\":
        \"Expecting a STRING as input, surround your input with quotes starting at
        \\u0027None\\u0027 expecting {\\u0027{\\u0027, \\u0027f\\u0027, \\u0027(\\u0027,
        \\u0027[\\u0027, \\u0027true\\u0027, \\u0027t\\u0027, \\u0027false\\u0027,
        \\u0027null\\u0027, \\u0027n\\u0027\"\n  }\n]"
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - QyVmiFBTPHcEj1A=
      x-amzn-Remapped-Content-Length:
      - '319'
      x-amzn-Remapped-Date:
      - Sun, 31 Dec 2023 02:19:47 GMT
      x-amzn-RequestId:
      - 0a19ca68-8636-4592-9222-679db9468e06
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: "\n                search \"WWE SmackDown! vs. RAW\";\n                fields
      id, slug, name, summary, screenshots;\n                where platforms=[8] ;\n
      \           "
    headers:
      Authorization:
      - Bearer gq1864m66f1ngu2qoxnd49ookehhy1
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/games/
  response:
    body:
      string: "[\n  {\n    \"id\": 80852,\n    \"name\": \"WWE Smackdown! vs. Raw\",\n
        \   \"screenshots\": [\n      337102,\n      337103,\n      337104,\n      337105,\n
        \     337106,\n      337107,\n      337108\n    ],\n    \"slug\": \"wwe-smackdown-vs-raw\",\n
        \   \"summary\": \"WWE SmackDown! vs. Raw brings two of wrestling\\u0027s
        most popular game series together on the PS2. The game re-creates WWE programming
        with voice-overs and commentary throughout the season mode. During matches,
        you can learn a host of new gameplay moves, such as stare-downs, chop battles,
        and submission reversals. You can also try out situational challenges or create
        your own championship. Play as your favorite wrestler, including legends and
        [...]
- request:
    body: fields url; where game=80852;
    headers:
      Authorization:
      - Bearer gq1864m66f1ngu2qoxnd49ookehhy1
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/covers/
  response:
    body:
      string: "[\n  {\n    \"id\": 209154,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/co4hdu.jpg\"\n
        \ }\n]"
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '1'
      x-amz-apigw-id:
      - QyVm1EyaPHcEN8Q=
      x-amzn-Remapped-Content-Length:
      - '97'
      x-amzn-Remapped-Date:
      - Sun, 31 Dec 2023 02:19:49 GMT
      x-amzn-RequestId:
      - c8088104-c103-4cb3-8fe7-7af8265c9fe6
    status:
      code: 200
      message: OK
- request:
    body: fields url; where game=80852; limit 5;
    headers:
      Authorization:
      - Bearer gq1864m66f1ngu2qoxnd49ookehhy1
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/screenshots/
  response:
    body:
      string: "[\n  {\n    \"id\": 337103,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/sc783z.jpg\"\n
        \ },\n  {\n    \"id\": 337104,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/sc7840.jpg\"\n
        \ },\n  {\n    \"id\": 337105,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/sc7841.jpg\"\n
        \ },\n  {\n    \"id\": 337102,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/sc783y.jpg\"\n
        \ },\n  {\n    \"id\": 337107,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/sc7843.jpg\"\n
        \ }\n]"
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '7'
      x-amz-apigw-id:
      - QyVm6H0TvHcES9A=
      x-amzn-Remapped-Content-Length:
      - '477'
      x-amzn-Remapped-Date:
      - Sun, 31 Dec 2023 02:19:49 GMT
      x-amzn-RequestId:
      - ad55a8e3-1508-4e14-91e1-23fb56bb68b5
    status:
      code: 200
      message: OK
version: 1
