interactions:
- request:
    body: "\n                search \"70000000000000\";\n                fields id,
      slug, name, summary, screenshots;\n                where platforms=[130] ;\n
      \           "
    headers:
      Authorization:
      - Bearer test_token
      Client-ID:
      - dxhlue92dw8wz4kdtdx710g88366rb
    method: POST
    uri: https://api.igdb.com/v4/games/
  response:
    body:
      string: "{\n  \"message\": \"Authorization Failure. Have you tried:\",\n  \"Tip
        1\":   \"Ensure you are sending Authorization and Client-ID as headers.\",\n
        \ \"Tip 2\":   \"Ensure Authorization value starts with 'Bearer ', including
        the space\",\n  \"Tip 3\":   \"Ensure Authorization value ends with the App
        Access Token you generated, NOT your Client Secret.\",\n  \"Docs\":    \"https://api-docs.igdb.com/#authentication\",\n
        \ \"Discord\": \"https://discord.gg/FrvfwQg\"\n}\n"
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - KtFs4GinvHcFRDQ=
      x-amzn-ErrorType:
      - AccessDeniedException
      x-amzn-RequestId:
      - 71c25a45-7ae5-4520-858b-4ddc0317d9d6
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
    method: POST
    uri: https://id.twitch.tv/oauth2/token?client_id=dxhlue92dw8wz4kdtdx710g88366rb&client_secret=ko5cy0bygkkd76m8od2ko5ts2hhbza&grant_type=client_credentials
  response:
    body:
      string: '{"access_token":"ntsg56bepujq2u93g4fn7mtfqqf6ir","expires_in":5304074,"token_type":"bearer"}

        '
    headers:
      Content-Type:
      - application/json
      X-Ctxlog-Logid:
      - 1-64f51cb8-1b8abffc323d93c567cfd96d
    status:
      code: 200
      message: OK
- request:
    body: "\n                search \"70000000000000\";\n                fields id,
      slug, name, summary, screenshots;\n                where platforms=[130] ;\n
      \           "
    headers:
      Authorization:
      - Bearer ntsg56bepujq2u93g4fn7mtfqqf6ir
      Client-ID:
      - dxhlue92dw8wz4kdtdx710g88366rb
    method: POST
    uri: https://api.igdb.com/v4/games/
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '0'
      x-amz-apigw-id:
      - KtFtAHR3vHcF4lg=
      x-amzn-Remapped-Content-Length:
      - '2'
      x-amzn-Remapped-Date:
      - Sun, 03 Sep 2023 23:54:33 GMT
      x-amzn-RequestId:
      - f52b24e7-fb36-4b12-9fea-7b3cb669d6af
    status:
      code: 200
      message: OK
[...]
- request:
    body: fields url; where game=0;
    headers:
      Authorization:
      - Bearer ntsg56bepujq2u93g4fn7mtfqqf6ir
      Client-ID:
      - dxhlue92dw8wz4kdtdx710g88366rb
    method: POST
    uri: https://api.igdb.com/v4/covers/
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '0'
      x-amz-apigw-id:
      - KtFtKHdbvHcFRRg=
      x-amzn-Remapped-Content-Length:
      - '2'
      x-amzn-Remapped-Date:
      - Sun, 03 Sep 2023 23:54:34 GMT
      x-amzn-RequestId:
      - d4b16177-21f1-4e09-a814-f2791f55ffa5
    status:
      code: 200
      message: OK
- request:
    body: fields url; where game=0; limit 5;
    headers:
      Authorization:
      - Bearer ntsg56bepujq2u93g4fn7mtfqqf6ir
      Client-ID:
      - dxhlue92dw8wz4kdtdx710g88366rb
    method: POST
    uri: https://api.igdb.com/v4/screenshots/
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '0'
      x-amz-apigw-id:
      - KtFtOEr8PHcF7dw=
      x-amzn-Remapped-Content-Length:
      - '2'
      x-amzn-Remapped-Date:
      - Sun, 03 Sep 2023 23:54:34 GMT
      x-amzn-RequestId:
      - a6552c23-c4d2-443b-8d8a-90b94990466b
    status:
      code: 200
      message: OK
[...]
- request:
    body: "\n                search \"Blaster Master Zero\";\n                fields
      id, slug, name, summary, screenshots;\n                where platforms=[130]
      ;\n            "
    headers:
      Authorization:
      - Bearer v2xs6sqx28xjzrpbpzuc6v490g2ko4
      Client-ID:
      - dxhlue92dw8wz4kdtdx710g88366rb
    method: POST
    uri: https://api.igdb.com/v4/games/
  response:
    body:
      string: "[\n  {\n    \"id\": 145058,\n    \"name\": \"Blaster Master Zero III\",\n
        \   \"screenshots\": [\n      486697,\n      486698,\n      486699,\n      486700,\n
        \     486701\n    ],\n    \"slug\": \"blaster-master-zero-iii\",\n    \"summary\":
        \"The Pinnacle of Mutant Blasting Action \u2014 Blaster Master Zero\\u0027s
        hybrid side-scrolling and top-down action is back for its 3rd chapter! Series
        protagonist Jason travels to where the series all began, the planet Sophia,
        in order to save the heroine Eve in this final installment of the trilogy.\"\n
        \ },\n  {\n    \"id\": 171205,\n    \"name\": \"Blaster Master Zero: EX Character
        - Shantae\",\n    \"screenshots\": [\n      633769,\n      6[...]
- request:
    body: fields url; where game=145058;
    headers:
      Authorization:
      - Bearer v2xs6sqx28xjzrpbpzuc6v490g2ko4
      Client-ID:
      - dxhlue92dw8wz4kdtdx710g88366rb
    method: POST
    uri: https://api.igdb.com/v4/covers/
  response:
    body:
      string: "[\n  {\n    \"id\": 135539,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/co2wkz.jpg\"\n
        \ }\n]"
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '1'
      x-amz-apigw-id:
      - KtFteGQgPHcFoaQ=
      x-amzn-Remapped-Content-Length:
      - '97'
      x-amzn-Remapped-Date:
      - Sun, 03 Sep 2023 23:54:36 GMT
      x-amzn-RequestId:
      - 037b6555-cfc3-489e-b61e-7bb1598c3514
    status:
      code: 200
      message: OK
- request:
    body: fields url; where game=145058; limit 5;
    headers:
      Authorization:
      - Bearer v2xs6sqx28xjzrpbpzuc6v490g2ko4
      Client-ID:
      - dxhlue92dw8wz4kdtdx710g88366rb
    method: POST
    uri: https://api.igdb.com/v4/screenshots/
  response:
    body:
      string: "[\n  {\n    \"id\": 486698,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/scafje.jpg\"\n
        \ },\n  {\n    \"id\": 486697,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/scafjd.jpg\"\n
        \ },\n  {\n    \"id\": 486699,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/scafjf.jpg\"\n
        \ },\n  {\n    \"id\": 486700,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/scafjg.jpg\"\n
        \ },\n  {\n    \"id\": 486701,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/scafjh.jpg\"\n
        \ }\n]"
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '5'
      x-amz-apigw-id:
      - KtFthEwJvHcFXug=
      x-amzn-Remapped-Content-Length:
      - '477'
      x-amzn-Remapped-Date:
      - Sun, 03 Sep 2023 23:54:36 GMT
      x-amzn-RequestId:
      - 1a1b3462-8ece-468a-8c92-5a6e46b9731f
    status:
      code: 200
      message: OK
version: 1
