interactions:
- request:
    body: "\n                search \"WWE Smack\";\n                fields id, slug,
      name, summary, screenshots;\n                where platforms=[8] ;\n            "
    headers:
      Authorization:
      - Bearer test_token
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/games/
  response:
    body:
      string: "{\n  \"message\": \"Authorization Failure. Have you tried:\",\n  \"Tip
        1\":   \"Ensure you are sending Authorization and Client-ID as headers.\",\n
        \ \"Tip 2\":   \"Ensure Authorization value starts with 'Bearer ', including
        the space\",\n  \"Tip 3\":   \"Ensure Authorization value ends with the App
        Access Token you generated, NOT your Client Secret.\",\n  \"Docs\":    \"https://api-docs.igdb.com/#authentication\",\n
        \ \"Discord\": \"https://discord.gg/FrvfwQg\"\n}\n"
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - Rygq3HrsPHcEaRA=
      x-amzn-ErrorType:
      - AccessDeniedException
      x-amzn-RequestId:
      - 572a740f-87ce-45c6-9096-fb30c9a03540
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
    method: POST
    uri: https://id.twitch.tv/oauth2/token?client_id=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&client_secret=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&grant_type=client_credentials
  response:
    body:
      string: '{"access_token":"3oeeqb3l2oufuidp79c708gr8xwseh","expires_in":4828909,"token_type":"bearer"}

        '
    headers:
      Content-Type:
      - application/json
      X-Ctxlog-Logid:
      - 1-65aa7b13-233b8db24633d23a3759fe1a
    status:
      code: 200
      message: OK
- request:
    body: "\n                search \"WWE Smack\";\n                fields id, slug,
      name, summary, screenshots;\n                where platforms=[8] ;\n            "
    headers:
      Authorization:
      - Bearer 3oeeqb3l2oufuidp79c708gr8xwseh
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/games/
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '0'
      x-amz-apigw-id:
      - RygrHHLzPHcETeg=
      x-amzn-Remapped-Content-Length:
      - '2'
      x-amzn-Remapped-Date:
      - Fri, 19 Jan 2024 13:37:23 GMT
      x-amzn-RequestId:
      - ba00326d-56b5-4cdb-b381-890914f1f05d
    status:
      code: 200
      message: OK
[...]
- request:
    body: "\n                search \"WWE SmackDown! vs. RAW\";\n                fields
      id, slug, name, summary, screenshots;\n                where platforms=[8] ;\n
      \           "
    headers:
      Authorization:
      - Bearer wey0sj7h4jksp02joebheczbjkxw0y
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/games/
  response:
    body:
      string: "[\n  {\n    \"id\": 80852,\n    \"name\": \"WWE Smackdown! vs. Raw\",\n
        \   \"screenshots\": [\n      337102,\n      337103,\n      337104,\n      337105,\n
        \     337106,\n      337107,\n      337108\n    ],\n    \"slug\": \"wwe-smackdown-vs-raw\",\n
        \   \"summary\": \"WWE SmackDown! vs. Raw brings two of wrestling\\u0027s
        most popular game series together on the PS2. The game re-creates WWE programming
        with voice-overs and commentary throughout the season mode. During matches,
        you can learn a host of new gameplay moves, such as stare-downs, chop battles,
        and submission reversals. You can also try out situational challenges or create
        your own championship. Play as your favorite wrestler, including legends and
        [...]
- request:
    body: fields url; where game=80852;
    headers:
      Authorization:
      - Bearer wey0sj7h4jksp02joebheczbjkxw0y
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/covers/
  response:
    body:
      string: "[\n  {\n    \"id\": 209154,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/co4hdu.jpg\"\n
        \ }\n]"
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '1'
      x-amz-apigw-id:
      - RygryG99vHcEVjQ=
      x-amzn-Remapped-Content-Length:
      - '97'
      x-amzn-Remapped-Date:
      - Fri, 19 Jan 2024 13:37:28 GMT
      x-amzn-RequestId:
      - 680e91f5-50da-49f2-bade-44b9247fbd98
    status:
      code: 200
      message: OK
- request:
    body: fields url; where game=80852; limit 5;
    headers:
      Authorization:
      - Bearer wey0sj7h4jksp02joebheczbjkxw0y
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/screenshots/
  response:
    body:
      string: "[\n  {\n    \"id\": 337103,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/sc783z.jpg\"\n
        \ },\n  {\n    \"id\": 337104,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/sc7840.jpg\"\n
        \ },\n  {\n    \"id\": 337105,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/sc7841.jpg\"\n
        \ },\n  {\n    \"id\": 337102,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/sc783y.jpg\"\n
        \ },\n  {\n    \"id\": 337107,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/sc7843.jpg\"\n
        \ }\n]"
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '7'
      x-amz-apigw-id:
      - Rygr8H8jvHcES2w=
      x-amzn-Remapped-Content-Length:
      - '477'
      x-amzn-Remapped-Date:
      - Fri, 19 Jan 2024 13:37:29 GMT
      x-amzn-RequestId:
      - 605655b7-bab7-4f34-934e-3197221fb3f2
    status:
      code: 200
      message: OK
version: 1
