interactions:
- request:
    body: "\n                search \"Paper Mario\";\n                fields id, slug,
      name, summary, screenshots;\n                where platforms=[4] ;\n            "
    headers:
      Authorization:
      - Bearer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/games/
  response:
    body:
      string: "[\n  {\n    \"id\": 3340,\n    \"name\": \"Paper Mario\",\n    \"screenshots\":
        [\n      24167,\n      24168,\n      24169,\n      24170,\n      24171\n    ],\n
        \   \"slug\": \"paper-mario\",\n    \"summary\": \"Paper Mario, a turn-based
        JRPG entry in the Mario franchise with a paper-based aesthetic and platforming
        elements, sees the titular character working his way through the Mushroom
        Kingdom\\u0027s diverse locales and biomes, meeting its inhabitants, fighthing
        unruly enemies and recruiting an array of companions in order to once again
        save Princess Peach from the clutches of the evil Koopa King Bowser.\"\n  },\n
        \ {\n    \"id\": 257636,\n    \"name\": \"Paper Mario TTYD64\",\n    \"screenshots\":
        [\n      1093074,\n      1093075\n    ],\n    \"slug\": \"paper-mario-ttyd64\",\n
        \   \"summary\": \"TTYD64 is a PM64 romhack that adds TTYD\\u0027s gameplay
        into the original Paper Mario plus all new items, badges, and recipes from
        that game, and a lot of new areas to explore plus other additions.\"\n  },\n
        \ {\n    \"id\": 159343,\n    \"name\": \"Paper Mario: Black Pit\",\n    \"screenshots\":
        [\n      552543,\n      552544\n    ],\n    \"slug\": \"paper-mario-black-pit\",\n
        \   \"summary\": \"Paper Mario: Black Pit is a ROM hack/mod of Paper Mario
        64, developed by elDexter. It adds a new level layout to the game, based on
        roguelike mechanics.\"\n  },\n  {\n    \"id\": 187873,\n    \"name\": \"Paper
        Mario: Master Quest\",\n    \"screenshots\": [\n      714703,\n      714704\n
        \   ],\n    \"slug\": \"paper-mario-master-quest\",\n    \"summary\": \"Paper
        Mario: Master Quest is a mod made for \\\"Paper Mario\\\" on the N64. It was
        created by Emperor_Thamz, Rainchus, JaThePlayer, and Brotenko. It revamps
        old content and adds plenty of new as well.\\nOften considered \\\"The Dark
        Souls of Paper Mario\\\", the mod is incredibly difficult.\"\n  },\n  {\n
        \[...]
- request:
    body: fields url; where game=3340;
    headers:
      Authorization:
      - Bearer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/covers/
  response:
    body:
      string: "[\n  {\n    \"id\": 80830,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/co1qda.jpg\"\n
        \ }\n]"
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '1'
      x-amz-apigw-id:
      - JG5IGGpaPHcF4gA=
      x-amzn-Remapped-Content-Length:
      - '96'
      x-amzn-Remapped-Date:
      - Thu, 03 Aug 2023 23:44:13 GMT
      x-amzn-RequestId:
      - 4f89ffc9-fac0-4330-92de-818292867e7b
    status:
      code: 200
      message: OK
- request:
    body: fields url; where game=3340; limit 5;
    headers:
      Authorization:
      - Bearer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/screenshots/
  response:
    body:
      string: "[\n  {\n    \"id\": 24169,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/ig9ainu9fershqdinox1.jpg\"\n
        \ },\n  {\n    \"id\": 24167,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/a5r3k2lf3lgvifrycqeg.jpg\"\n
        \ },\n  {\n    \"id\": 24168,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/hdxgs9nruycvrzcgvseu.jpg\"\n
        \ },\n  {\n    \"id\": 24171,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/kjnf90jnud6njmwto3th.jpg\"\n
        \ },\n  {\n    \"id\": 24170,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/jz66se3deczeta6hd4ys.jpg\"\n
        \ }\n]"
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '5'
      x-amz-apigw-id:
      - JG5IKELtvHcFxxQ=
      x-amzn-Remapped-Content-Length:
      - '542'
      x-amzn-Remapped-Date:
      - Thu, 03 Aug 2023 23:44:13 GMT
      x-amzn-RequestId:
      - 7814ec9e-fa3c-4235-8f34-70b6be623622
    status:
      code: 200
      message: OK
[...]
- request:
    body: fields url; where game=0; limit 5;
    headers:
      Authorization:
      - Bearer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/screenshots/
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '0'
      x-amz-apigw-id:
      - JG5IfFhIPHcFSwA=
      x-amzn-Remapped-Content-Length:
      - '2'
      x-amzn-Remapped-Date:
      - Thu, 03 Aug 2023 23:44:15 GMT
      x-amzn-RequestId:
      - 688c2d14-6d90-4ae5-8132-dcefd35c64ad
    status:
      code: 200
      message: OK
version: 1
