interactions:
- request:
    body: fields slug, name, summary; where id=3340;
    headers:
      Authorization:
      - Bearer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/games/
  response:
    body:
      string: "[\n  {\n    \"id\": 3340,\n    \"name\": \"Paper Mario\",\n    \"slug\":
        \"paper-mario\",\n    \"summary\": \"Paper Mario, a turn-based JRPG entry
        in the Mario franchise with a paper-based aesthetic and platforming elements,
        sees the titular character working his way through the Mushroom Kingdom\\u0027s
        diverse locales and biomes, meeting its inhabitants, fighthing unruly enemies
        and recruiting an array of companions in order to once again save Princess
        Peach from the clutches of the evil Koopa King Bowser.\"\n  }\n]"
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '1'
      x-amz-apigw-id:
      - JG4wSGUQvHcFYrA=
      x-amzn-Remapped-Content-Length:
      - '500'
      x-amzn-Remapped-Date:
      - Thu, 03 Aug 2023 23:41:40 GMT
      x-amzn-RequestId:
      - 6963a67f-2b24-4bc0-8081-09a90f6569a2
    status:
      code: 200
      message: OK
- request:
    body: fields url; where game=3340;
    headers:
      Authorization:
      - Bearer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/covers/
  response:
    body:
      string: "[\n  {\n    \"id\": 80830,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/co1qda.jpg\"\n
        \ }\n]"
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '1'
      x-amz-apigw-id:
      - JG4wWEESvHcFakw=
      x-amzn-Remapped-Content-Length:
      - '96'
      x-amzn-Remapped-Date:
      - Thu, 03 Aug 2023 23:41:41 GMT
      x-amzn-RequestId:
      - db3f045b-761f-469a-b719-57b88738d4a1
    status:
      code: 200
      message: OK
- request:
    body: fields url; where game=3340; limit 5;
    headers:
      Authorization:
      - Bearer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/screenshots/
  response:
    body:
      string: "[\n  {\n    \"id\": 24169,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/ig9ainu9fershqdinox1.jpg\"\n
        \ },\n  {\n    \"id\": 24170,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/jz66se3deczeta6hd4ys.jpg\"\n
        \ },\n  {\n    \"id\": 24167,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/a5r3k2lf3lgvifrycqeg.jpg\"\n
        \ },\n  {\n    \"id\": 24168,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/hdxgs9nruycvrzcgvseu.jpg\"\n
        \ },\n  {\n    \"id\": 24171,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/kjnf90jnud6njmwto3th.jpg\"\n
        \ }\n]"
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '5'
      x-amz-apigw-id:
      - JG4wYHyxvHcFdBw=
      x-amzn-Remapped-Content-Length:
      - '542'
      x-amzn-Remapped-Date:
      - Thu, 03 Aug 2023 23:41:41 GMT
      x-amzn-RequestId:
      - 6ced9a9b-e270-4864-a67b-b58a72128b6a
    status:
      code: 200
      message: OK
[...]
- request:
    body: fields url; where game=-1; limit 5;
    headers:
      Authorization:
      - Bearer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/screenshots/
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '0'
      x-amz-apigw-id:
      - JG4wjFClPHcFXrg=
      x-amzn-Remapped-Content-Length:
      - '2'
      x-amzn-Remapped-Date:
      - Thu, 03 Aug 2023 23:41:42 GMT
      x-amzn-RequestId:
      - bc54f6c1-18b5-4e6a-861b-6837c69a2f50
    status:
      code: 200
      message: OK
version: 1
