interactions:
- request:
    body: "\n                search \"Paper Mario\";\n                fields id, slug,
      name, summary;\n                where platforms=[4];\n            "
    headers:
      Authorization:
      - Bearer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/games/
  response:
    body:
      string: "[\n  {\n    \"id\": 3340,\n    \"name\": \"Paper Mario\",\n    \"slug\":
        \"paper-mario\",\n    \"summary\": \"Paper Mario, a turn-based JRPG entry
        in the Mario franchise with a paper-based aesthetic and platforming elements,
        sees the titular character working his way through the Mushroom Kingdom\\u0027s
        diverse locales and biomes, meeting its inhabitants, fighthing unruly enemies
        and recruiting an array of companions in order to once again save Princess
        Peach from the clutches of the evil Koopa King Bowser.\"\n  },\n  {\n    \"id\":
        257636,\n    \"name\[...]
- request:
    body: fields url; where game=3340;
    headers:
      Authorization:
      - Bearer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/covers/
  response:
    body:
      string: "[\n  {\n    \"id\": 80830,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/co1qda.jpg\"\n
        \ }\n]"
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '1'
      x-amz-apigw-id:
      - JG40XFxlPHcFXsg=
      x-amzn-Remapped-Content-Length:
      - '96'
      x-amzn-Remapped-Date:
      - Thu, 03 Aug 2023 23:42:06 GMT
      x-amzn-RequestId:
      - a51989c3-a95e-472d-9562-0e3a46c88e1b
    status:
      code: 200
      message: OK
- request:
    body: fields url; where game=3340; limit 5;
    headers:
      Authorization:
      - Bearer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/screenshots/
  response:
    body:
      string: "[\n  {\n    \"id\": 24169,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/ig9ainu9fershqdinox1.jpg\"\n
        \ },\n  {\n    \"id\": 24170,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/jz66se3deczeta6hd4ys.jpg\"\n
        \ },\n  {\n    \"id\": 24167,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/a5r3k2lf3lgvifrycqeg.jpg\"\n
        \ },\n  {\n    \"id\": 24168,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/hdxgs9nruycvrzcgvseu.jpg\"\n
        \ },\n  {\n    \"id\": 24171,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/kjnf90jnud6njmwto3th.jpg\"\n
        \ }\n]"
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '5'
      x-amz-apigw-id:
      - JG40cHSPvHcFYQA=
      x-amzn-Remapped-Content-Length:
      - '542'
      x-amzn-Remapped-Date:
      - Thu, 03 Aug 2023 23:42:07 GMT
      x-amzn-RequestId:
      - b7df0b95-f0a7-40ab-a346-f4400b6fde9b
    status:
      code: 200
      message: OK
[...]
- request:
    body: "\n                search \"Notarealgametitle\";\n                fields
      id, slug, name, summary;\n                where platforms=[4];\n            "
    headers:
      Authorization:
      - Bearer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/games/
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '0'
      x-amz-apigw-id:
      - JG411EyHvHcFlYA=
      x-amzn-Remapped-Content-Length:
      - '2'
      x-amzn-Remapped-Date:
      - Thu, 03 Aug 2023 23:42:16 GMT
      x-amzn-RequestId:
      - 3fd9f276-1cc7-457b-8909-860577441475
    status:
      code: 200
      message: OK
version: 1
