interactions:
  - request:
      body:
        fields id,name,slug,summary,total_rating,aggregated_rating,genres.name,alternative_names.name,artworks.url,cover.url,screenshots.url,franchise.name,franchises.name,collections.name,expansions.name,expansions.slug,expansions.cover.url,expanded_games.name,expanded_games.cover.url,dlcs.name,dlcs.slug,dlcs.cover.url,remakes.name,remakes.cover.url,remasters.name,remasters.cover.url,involved_companies.company.name,platforms.name,first_release_date,game_modes.name,player_perspectives.name,ports.name,similar_games.name,language_supports.language.name,external_games.uid,external_games.category;
        where id=3340; limit 200;
      headers:
        Authorization:
          - Bearer test_token
        Client-ID:
          - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      method: POST
      uri: https://api.igdb.com/v4/games
    response:
      body:
        string:
          "{\n  \"message\": \"Authorization Failure. Have you tried:\",\n  \"Tip
          1\":   \"Ensure you are sending Authorization and Client-ID as headers.\",\n
          \ \"Tip 2\":   \"Ensure Authorization value starts with 'Bearer ', including
          the space\",\n  \"Tip 3\":   \"Ensure Authorization value ends with the App
          Access Token you generated, NOT your Client Secret.\",\n  \"Docs\":    \"https://api-docs.igdb.com/#authentication\",\n
          \ \"Discord\": \"https://discord.gg/FrvfwQg\"\n}\n"
      headers:
        Content-Type:
          - application/json
        x-amz-apigw-id:
          - SqFpIEW-PHcEn0w=
        x-amzn-ErrorType:
          - AccessDeniedException
        x-amzn-RequestId:
          - c463d4bc-d93d-42a1-bf40-6cd79c4f8541
      status:
        code: 401
        message: Unauthorized
  - request:
      body: null
      headers:
      method: POST
      uri: https://id.twitch.tv/oauth2/token?client_id=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&client_secret=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&grant_type=client_credentials
    response:
      body:
        string:
          '{"access_token":"ceo0skenysx8qxr7433zhovoa20ak2","expires_in":5229503,"token_type":"bearer"}

          '
      headers:
        Content-Type:
          - application/json
        X-Ctxlog-Logid:
          - 1-65c0b63b-48f1d33821b48a24223cf595
      status:
        code: 200
        message: OK
  - request:
      body:
        fields id,name,slug,summary,total_rating,aggregated_rating,genres.name,alternative_names.name,artworks.url,cover.url,screenshots.url,franchise.name,franchises.name,collections.name,expansions.name,expansions.slug,expansions.cover.url,expanded_games.name,expanded_games.cover.url,dlcs.name,dlcs.slug,dlcs.cover.url,remakes.name,remakes.cover.url,remasters.name,remasters.cover.url,involved_companies.company.name,platforms.name,first_release_date,game_modes.name,player_perspectives.name,ports.name,similar_games.name,language_supports.language.name,external_games.uid,external_games.category;
        where id=3340; limit 200;
      headers:
        Authorization:
          - Bearer ceo0skenysx8qxr7433zhovoa20ak2
        Client-ID:
          - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      method: POST
      uri: https://api.igdb.com/v4/games
    response:
      body:
        string:
          "[\n  {\n    \"id\": 3340,\n    \"aggregated_rating\": 90.0,\n    \"alternative_names\":
          [\n      {\n        \"id\": 39105,\n        \"name\": \"Zhi Pian Mario\"\n
          \     },\n      {\n        \"id\": 51791,\n        \"name\": \"\u30DE\u30EA\u30AA\u30B9\u30C8\u30FC\u30EA\u30FC\"\n
          \     },\n      {\n        \"id\": 51792,\n        \"name\": \"\u7EB8\u7247\u9A6C\u91CC\u5965\"\n
          \     },\n      {\n        \"id\": 78718,\n        \"name\": \"Mario Story\"\n
          \     },\n      {\n        \"id\": 88088,\n        \"name\": \"Super Mario
          RPG 2\"\n      },\n      {\n        \"id\": 119107,\n        \"name\": \"\u7EB8\u7247\u9A6C\u529B\u6B27\"\n
          \     },\n      {\n        \"id\": 137285,\n        \"name\": \"\uD398\uC774\uD37C
          \uB9C8\uB9AC\uC624\"\n      }\n    ],\n    \"artworks\": [\n      {\n        \"id\":
          73649,\n        \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/ar1ktt.jpg\"\n
          \     }\n    ],\n    \"cover\": {\n      \"id\": 80830,\n      \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/co1qda.jpg\"\n
          \   },\n    \"external_games\": [\n      {\n        \"id\": 138931,\n        \"category\":
          3,\n        \"uid\": \"19929\"\n      },\n      {\n        \"id\": 245769,\n
          \       \"category\": 14,\n        \"uid\": \"18231\"\n      },\n      {\n
          \       \"id\": 1931441,\n        \"category\": 20,\n        \"uid\": \"B01BLAWHKI\"\n
          \     },\n      {\n        \"id\": 1931588,\n        \"category\": 20,\n        \"uid\":
          \"B003ZDOH3K\"\n      },\n      {\n        \"id\": 1933352,\n        \"category\":
          20,\n        \"uid\": \"B009LUDMJQ\"\n      }\n    ],\n    \"first_release_date\":
          965952000,\n    \"franchises\": [\n      {\n        \"id\": 845,\n        \"name\":
          \"Mario\"\n      }\n    ],\n    \"game_modes\": [\n      {\n        \"id\":
          1,\n        \"name\": \"Single player\"\n      }\n    ],\n    \"genres\":
          [\n      {\n        \"id\": 12,\n        \"name\": \"Role-playing (RPG)\"\n
          \     },\n      {\n        \"id\": 16,\n        \"name\": \"Turn-based strategy
          (TBS)\"\n      },\n      {\n        \"id\": 31,\n        \"name\": \"Adventure\"\n
          \     }\n    ],\n    \"involved_companies\": [\n      {\n        \"id\": 148214,\n
          \       \"company\": {\n          \"id\": 70,\n          \"name\": \"Nintendo\"\n
          \       }\n      },\n      {\n        \"id\": 148215,\n        \"company\":
          {\n          \"id\": 765,\n          \"name\": \"Intelligent Systems Co.,
          Ltd.\"\n        }\n      },\n      {\n        \"id\": 225578,\n        \"company\":
          {\n          \"id\": 5163,\n          \"name\": \"iQue\"\n        }\n      },\n
          \     {\n        \"id\": 225579,\n        \"company\": {\n          \"id\":
          812,\n          \"name\": \"Gradiente\"\n        }\n      }\n    ],\n    \"name\":
          \"Paper Mario\",\n    \"platforms\": [\n      {\n        \"id\": 4,\n        \"name\":
          \"Nintendo 64\"\n      },\n      {\n        \"id\": 5,\n        \"name\":
          \"Wii\"\n      },\n      {\n        \"id\": 41,\n        \"name\": \"Wii U\"\n
          \     }\n    ],\n    \"player_perspectives\": [\n      {\n        \"id\":
          2,\n        \"name\": \"Third person\"\n      },\n      {\n        \"id\":
          4,\n        \"name\": \"Side view\"\n      }\n    ],\n    \"screenshots\":
          [\n      {\n        \"id\": 24167,\n        \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/a5r3k2lf3lgvifrycqeg.jpg\"\n
          \     },\n      {\n        \"id\": 24168,\n        \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/hdxgs9nruycvrzcgvseu.jpg\"\n
          \     },\n      {\n        \"id\": 24169,\n        \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/ig9ainu9fershqdinox1.jpg\"\n
          \     },\n      {\n        \"id\": 24170,\n        \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/jz66se3deczeta6hd4ys.jpg\"\n
          \     },\n      {\n        \"id\": 24171,\n        \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/kjnf90jnud6njmwto3th.jpg\"\n
          \     }\n    ],\n    \"similar_games\": [\n      {\n        \"id\": 358,\n
          \       \"name\": \"Super Mario Bros.\"\n      },\n      {\n        \"id\":
          660,\n        \"name\": \"Darkstone\"\n      },\n      {\n        \"id\":
          1026,\n        \"name\": \"The Legend of Zelda: A Link to the Past\"\n      },\n
          \     {\n        \"id\": 1035,\n        \"name\": \"The Legend of Zelda: The
          Minish Cap\"\n      },\n      {\n        \"id\": 1068,\n        \"name\":
          \"Super Mario Bros. 3\"\n      },\n      {\n        \"id\": 1280,\n        \"name\":
          \"Breath of Fire IV\"\n      },\n      {\n        \"id\": 2148,\n        \"name\":
          \"Banjo-Kazooie\"\n      },\n      {\n        \"id\": 3349,\n        \"name\":
          \"Paper Mario: The Thousand-Year Door\"\n      },\n      {\n        \"id\":
          3351,\n        \"name\": \"Mario \\u0026 Luigi: Superstar Saga\"\n      },\n
          \     {\n        \"id\": 22387,\n        \"name\": \"Legrand Legacy\"\n      }\n
          \   ],\n    \"slug\": \"paper-mario\",\n    \"summary\": \"Paper Mario, a
          turn-based JRPG entry in the Mario franchise with a paper-based aesthetic
          and platforming elements, sees the titular character working his way through
          the Mushroom Kingdom\\u0027s diverse locales and biomes, meeting its inhabitants,
          fighthing unruly enemies and recruiting an array of companions in order to
          once again save Princess Peach from the clutches of the evil Koopa King Bowser.\",\n
          \   \"total_rating\": 88.63944908765737,\n    \"language_supports\": [\n      {\n
          \       \"id\": 473450,\n        \"language\": {\n          \"id\": 3,\n          \"name\":
          \"Chinese (Traditional)\"\n        }\n      },\n      {\n        \"id\": 473451,\n
          \       \"language\": {\n          \"id\": 7,\n          \"name\": \"English\"\n
          \       }\n      },\n      {\n        \"id\": 473452,\n        \"language\":
          {\n          \"id\": 16,\n          \"name\": \"Japanese\"\n        }\n      },\n
          \     {\n        \"id\": 492896,\n        \"language\": {\n          \"id\":
          12,\n          \"name\": \"French\"\n        }\n      },\n      {\n        \"id\":
          492897,\n        \"language\": {\n          \"id\": 27,\n          \"name\":
          \"German\"\n        }\n      },\n      {\n        \"id\": 492898,\n        \"language\":
          {\n          \"id\": 9,\n          \"name\": \"Spanish (Spain)\"\n        }\n
          \     }\n    ],\n    \"collections\": [\n      {\n        \"id\": 240,\n        \"name\":
          \"Super Mario\"\n      },\n      {\n        \"id\": 593,\n        \"name\":
          \"Paper Mario\"\n      }\n    ]\n  }\n]"
      headers:
        Content-Type:
          - application/json
        X-Count:
          - "1"
        x-amz-apigw-id:
          - SqFpZHWLvHcEEqA=
        x-amzn-Remapped-Content-Length:
          - "1538"
        x-amzn-Remapped-Date:
          - Mon, 05 Feb 2024 10:19:40 GMT
        x-amzn-RequestId:
          - 9d50d306-4874-4022-af53-561acccaebcf
      status:
        code: 200
        message: OK
[...]
  - request:
      body:
        fields id,name,slug,summary,total_rating,aggregated_rating,genres.name,alternative_names.name,artworks.url,cover.url,screenshots.url,franchise.name,franchises.name,collections.name,expansions.name,expansions.slug,expansions.cover.url,expanded_games.name,expanded_games.cover.url,dlcs.name,dlcs.slug,dlcs.cover.url,remakes.name,remakes.cover.url,remasters.name,remasters.cover.url,involved_companies.company.name,platforms.name,first_release_date,game_modes.name,player_perspectives.name,ports.name,similar_games.name,language_supports.language.name,external_games.uid,external_games.category;
        where id=-1; limit 200;
      headers:
        Authorization:
          - Bearer 97xbg8dxzst4sifbgrg6k4h0sy4sv2
        Client-ID:
          - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      method: POST
      uri: https://api.igdb.com/v4/games
    response:
      body:
        string: "[]"
      headers:
        Content-Type:
          - application/json
        X-Count:
          - "0"
        x-amz-apigw-id:
          - SqFp0HBaPHcEsDw=
        x-amzn-Remapped-Content-Length:
          - "2"
        x-amzn-Remapped-Date:
          - Mon, 05 Feb 2024 10:19:42 GMT
        x-amzn-RequestId:
          - 134a8022-0def-4111-9d61-5683fa7a89c2
      status:
        code: 200
        message: OK
version: 1
