interactions:
- request:
    body: fields id, name; where slug="n64";
    headers:
      Authorization:
      - Bearer test_token
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/platforms/
  response:
    body:
      string: "{\n  \"message\": \"Authorization Failure. Have you tried:\",\n  \"Tip
        1\":   \"Ensure you are sending Authorization and Client-ID as headers.\",\n
        \ \"Tip 2\":   \"Ensure Authorization value starts with 'Bearer ', including
        the space\",\n  \"Tip 3\":   \"Ensure Authorization value ends with the App
        Access Token you generated, NOT your Client Secret.\",\n  \"Docs\":    \"https://api-docs.igdb.com/#authentication\",\n
        \ \"Discord\": \"https://discord.gg/FrvfwQg\"\n}\n"
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - Scpj_EhLvHcEqUQ=
      x-amzn-ErrorType:
      - AccessDeniedException
      x-amzn-RequestId:
      - 106008ac-1329-4785-9513-02c54a5c1730
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
    method: POST
    uri: https://id.twitch.tv/oauth2/token?client_id=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&client_secret=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&grant_type=client_credentials
  response:
    body:
      string: '{"access_token":"w3a92fc3vv93o7cny9526t6jc13ydy","expires_in":5595791,"token_type":"bearer"}

        '
    headers:
      Content-Type:
      - application/json
      X-Ctxlog-Logid:
      - 1-65bb561a-56c660f416bbe8a311ef246f
    status:
      code: 200
      message: OK
- request:
    body: fields id, name; where slug="n64";
    headers:
      Authorization:
      - Bearer w3a92fc3vv93o7cny9526t6jc13ydy
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/platforms/
  response:
    body:
      string: "[\n  {\n    \"id\": 4,\n    \"name\": \"Nintendo 64\"\n  }\n]"
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '1'
      x-amz-apigw-id:
      - ScpkSFsQPHcEF2w=
      x-amzn-Remapped-Content-Length:
      - '50'
      x-amzn-Remapped-Date:
      - Thu, 01 Feb 2024 08:28:11 GMT
      x-amzn-RequestId:
      - 27736191-3f1f-4525-acf1-c7e5655017cf
    status:
      code: 200
      message: OK
[...]
- request:
    body: fields id, name; where slug="not-real";
    headers:
      Authorization:
      - Bearer eb2lkmay575jflfa34nvcn8sfv80f3
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/platform_versions/
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '0'
      x-amz-apigw-id:
      - Scpk0FyBvHcEqGA=
      x-amzn-Remapped-Content-Length:
      - '2'
      x-amzn-Remapped-Date:
      - Thu, 01 Feb 2024 08:28:14 GMT
      x-amzn-RequestId:
      - fccbe86c-67e0-4bda-a460-7fa8fb91bc98
    status:
      code: 200
      message: OK
version: 1
