interactions:
- request:
    body: fields slug, name, summary; where id=3340;
    headers:
      Authorization:
      - Bearer xxxxxxxxxxxxxxxxxxxxxxxx
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/games/
  response:
    body:
      string: "[\n  {\n    \"id\": 3340,\n    \"name\": \"Paper Mario\",\n    \"slug\":
        \"paper-mario\",\n    \"summary\": \"Paper Mario, a turn-based JRPG entry
        in the Mario franchise with a paper-based aesthetic and platforming elements,
        sees the titular character working his way through the Mushroom Kingdom\\u0027s
        diverse locales and biomes, meeting its inhabitants, fighthing unruly enemies
        and recruiting an array of companions in order to once again save Princess
        Peach from the clutches of the evil Koopa King Bowser.\"\n  }\n]"
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '1'
      x-amz-apigw-id:
      - I9mGmHwuPHcF2KA=
      x-amzn-Remapped-Content-Length:
      - '500'
      x-amzn-Remapped-Date:
      - Tue, 01 Aug 2023 04:02:11 GMT
      x-amzn-RequestId:
      - 3cb33f97-7ad8-4c7b-a60f-6c5bf5f73b9f
    status:
      code: 200
      message: OK
- request:
    body: fields url; where game=3340;
    headers:
      Authorization:
      - Bearer xxxxxxxxxxxxxxxxxxxxxxxx
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/covers/
  response:
    body:
      string: "[\n  {\n    \"id\": 80830,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/co1qda.jpg\"\n
        \ }\n]"
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '1'
      x-amz-apigw-id:
      - I9mGpErpvHcFSGQ=
      x-amzn-Remapped-Content-Length:
      - '96'
      x-amzn-Remapped-Date:
      - Tue, 01 Aug 2023 04:02:11 GMT
      x-amzn-RequestId:
      - 544f3939-7665-4d02-af04-680d7599d0d0
    status:
      code: 200
      message: OK
- request:
    body: fields url; where game=3340; limit 5;
    headers:
      Authorization:
      - Bearer xxxxxxxxxxxxxxxxxxxxxxxx
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/screenshots/
  response:
    body:
      string: "[\n  {\n    \"id\": 24169,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/ig9ainu9fershqdinox1.jpg\"\n
        \ },\n  {\n    \"id\": 24167,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/a5r3k2lf3lgvifrycqeg.jpg\"\n
        \ },\n  {\n    \"id\": 24168,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/hdxgs9nruycvrzcgvseu.jpg\"\n
        \ },\n  {\n    \"id\": 24171,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/kjnf90jnud6njmwto3th.jpg\"\n
        \ },\n  {\n    \"id\": 24170,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/jz66se3deczeta6hd4ys.jpg\"\n
        \ }\n]"
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '5'
      x-amz-apigw-id:
      - I9mGsGw8PHcF8aQ=
      x-amzn-Remapped-Content-Length:
      - '542'
      x-amzn-Remapped-Date:
      - Tue, 01 Aug 2023 04:02:12 GMT
      x-amzn-RequestId:
      - 8168b675-4621-40e5-91ec-b042cebc7dfb
    status:
      code: 200
      message: OK
- request:
    body: fields slug, name, summary; where id=-1;
    headers:
      Authorization:
      - Bearer xxxxxxxxxxxxxxxxxxxxxxxx
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/games/
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '0'
      x-amz-apigw-id:
      - I9mGwFWGPHcFQDA=
      x-amzn-Remapped-Content-Length:
      - '2'
      x-amzn-Remapped-Date:
      - Tue, 01 Aug 2023 04:02:12 GMT
      x-amzn-RequestId:
      - ba25354a-8333-4029-9d1f-35203c031ed7
    status:
      code: 200
      message: OK
version: 1
