interactions:
  - request:
      body: fields id,name; where slug="n64"; limit 200;
      headers:
        Authorization:
          - Bearer test_token
        Client-ID:
          - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      method: POST
      uri: https://api.igdb.com/v4/platforms
    response:
      body:
        string:
          "{\n  \"message\": \"Authorization Failure. Have you tried:\",\n  \"Tip
          1\":   \"Ensure you are sending Authorization and Client-ID as headers.\",\n
          \ \"Tip 2\":   \"Ensure Authorization value starts with 'Bearer ', including
          the space\",\n  \"Tip 3\":   \"Ensure Authorization value ends with the App
          Access Token you generated, NOT your Client Secret.\",\n  \"Docs\":    \"https://api-docs.igdb.com/#authentication\",\n
          \ \"Discord\": \"https://discord.gg/FrvfwQg\"\n}\n"
      headers:
        Content-Type:
          - application/json
        x-amz-apigw-id:
          - SqFl3EmCvHcEiEw=
        x-amzn-ErrorType:
          - AccessDeniedException
        x-amzn-RequestId:
          - 33d240f8-5a87-42ee-bb46-fa1364caa51e
      status:
        code: 401
        message: Unauthorized
  - request:
      body: null
      headers:
      method: POST
      uri: https://id.twitch.tv/oauth2/token?client_id=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&client_secret=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&grant_type=client_credentials
    response:
      body:
        string:
          '{"access_token":"g7ae578ve5tifqtdn3bezx80bstfue","expires_in":5314976,"token_type":"bearer"}

          '
      headers:
        Content-Type:
          - application/json
        X-Ctxlog-Logid:
          - 1-65c0b626-79607bfc1350e4771b26d79a
      status:
        code: 200
        message: OK
  - request:
      body: fields id,name; where slug="n64"; limit 200;
      headers:
        Authorization:
          - Bearer g7ae578ve5tifqtdn3bezx80bstfue
        Client-ID:
          - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      method: POST
      uri: https://api.igdb.com/v4/platforms
    response:
      body:
        string: "[\n  {\n    \"id\": 4,\n    \"name\": \"Nintendo 64\"\n  }\n]"
      headers:
        Content-Type:
          - application/json
        X-Count:
          - "1"
        x-amz-apigw-id:
          - SqFmLEj9vHcEY_Q=
        x-amzn-Remapped-Content-Length:
          - "50"
        x-amzn-Remapped-Date:
          - Mon, 05 Feb 2024 10:19:19 GMT
        x-amzn-RequestId:
          - fff69edb-7d6d-4333-9b3f-866113a347b7
      status:
        code: 200
        message: OK
[...]
  - request:
      body: fields id,name; where slug="not-real"; limit 200;
      headers:
        Authorization:
          - Bearer ce0q1kmen9ztee5526s91upn2pgrjt
        Client-ID:
          - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      method: POST
      uri: https://api.igdb.com/v4/platform_versions
    response:
      body:
        string: "[]"
      headers:
        Content-Type:
          - application/json
        X-Count:
          - "0"
        x-amz-apigw-id:
          - SqFmoEvUvHcEHqg=
        x-amzn-Remapped-Content-Length:
          - "2"
        x-amzn-Remapped-Date:
          - Mon, 05 Feb 2024 10:19:22 GMT
        x-amzn-RequestId:
          - 9b7de1ff-7b8a-4cb4-82be-b90a45f9ab44
      status:
        code: 200
        message: OK
version: 1
