interactions:
  - request:
      body:
        search "Mario"; fields id,name,slug,summary,total_rating,aggregated_rating,genres.name,alternative_names.name,artworks.url,cover.url,screenshots.url,franchise.name,franchises.name,collections.name,expansions.name,expansions.slug,expansions.cover.url,expanded_games.name,expanded_games.cover.url,dlcs.name,dlcs.slug,dlcs.cover.url,remakes.name,remakes.cover.url,remasters.name,remasters.cover.url,involved_companies.company.name,platforms.name,first_release_date,game_modes.name,player_perspectives.name,ports.name,similar_games.name,language_supports.language.name,external_games.uid,external_games.category;
        where platforms=[4]; limit 200;
      headers:
        Authorization:
          - Bearer test_token
        Client-ID:
          - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      method: POST
      uri: https://api.igdb.com/v4/games
    response:
      body:
        string:
          "{\n  \"message\": \"Authorization Failure. Have you tried:\",\n  \"Tip
          1\":   \"Ensure you are sending Authorization and Client-ID as headers.\",\n
          \ \"Tip 2\":   \"Ensure Authorization value starts with 'Bearer ', including
          the space\",\n  \"Tip 3\":   \"Ensure Authorization value ends with the App
          Access Token you generated, NOT your Client Secret.\",\n  \"Docs\":    \"https://api-docs.igdb.com/#authentication\",\n
          \ \"Discord\": \"https://discord.gg/FrvfwQg\"\n}\n"
      headers:
        Content-Type:
          - application/json
        x-amz-apigw-id:
          - SqFqOGIVPHcEY_Q=
        x-amzn-ErrorType:
          - AccessDeniedException
        x-amzn-RequestId:
          - 926792c8-23f6-4ff1-a1c8-4e4881dff54c
      status:
        code: 401
        message: Unauthorized
  - request:
      body: null
      headers:
      method: POST
      uri: https://id.twitch.tv/oauth2/token?client_id=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&client_secret=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&grant_type=client_credentials
    response:
      body:
        string:
          '{"access_token":"nsfcq5uc55bidp1vamsef2n2gi38uw","expires_in":5049161,"token_type":"bearer"}

          '
      headers:
        Content-Type:
          - application/json
        X-Ctxlog-Logid:
          - 1-65c0b642-4b2b429a2bb058ef53456619
      status:
        code: 200
        message: OK
  - request:
      body:
        search "Mario"; fields id,name,slug,summary,total_rating,aggregated_rating,genres.name,alternative_names.name,artworks.url,cover.url,screenshots.url,franchise.name,franchises.name,collections.name,expansions.name,expansions.slug,expansions.cover.url,expanded_games.name,expanded_games.cover.url,dlcs.name,dlcs.slug,dlcs.cover.url,remakes.name,remakes.cover.url,remasters.name,remasters.cover.url,involved_companies.company.name,platforms.name,first_release_date,game_modes.name,player_perspectives.name,ports.name,similar_games.name,language_supports.language.name,external_games.uid,external_games.category;
        where platforms=[4]; limit 200;
      headers:
        Authorization:
          - Bearer nsfcq5uc55bidp1vamsef2n2gi38uw
        Client-ID:
          - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      method: POST
      uri: https://api.igdb.com/v4/games
    response:
      body:
        string:
          "[\n  {\n    \"id\": 132642,\n    \"alternative_names\": [\n      {\n
          \       \"id\": 54040,\n        \"name\": \"Super Mario 64 Shindou Version\"\n
          \     },\n      {\n        \"id\": 54041,\n        \"name\": \"Super Mario
          64 Shindou\"\n      },\n      {\n        \"id\": 73079,\n        \"name\":
          \"SM64 Shindou\"\n      },\n      {\n        \"id\": 73082,\n        \"name\":
          \"Shenyou Maliou\"\n      },\n      {\n        \"id\": 73084,\n        \"name\":
          \"Sh\xE9ny\xF3u M\u01CEl\xEC\u014Du\"\n      },\n      {\n        \"id\":
          73085,\n        \"name\": \"iQue Mario\"\n      },\n      {\n        \"id\":
          119112,\n        \"name\": \"\u795E\u6E38\u9A6C\u529B\u6B27\"\n      },\n
          \     {\n        \"id\": 119715,\n        \"name\": \"\u30B9\u30FC\u30D1\u30FC\u30DE\u30EA\u30AA64
          \u632F\u52D5\u30D1\u30C3\u30AF\u5BFE\u5FDC\u30D0\u30FC\u30B8\u30E7\u30F3\"\n
          \     },\n      {\n        \"id\": 144397,\n        \"name\": \"Super Mario
          64: Rumble Pak Compatible Version\"\n      }\n    ],\n    \"artworks\": [\n
          \     {\n        \"id\": 52559,\n        \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/ar14jz.jpg\"\n
          \     },\n      {\n        \"id\": 52560,\n        \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/ar14k0.jpg\"\n
          \     },\n      {\n        \"id\": 52561,\n        \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/ar14k1.jpg\"\n
          \     },\n      {\n        \"id\": 52562,\n        \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/ar14k2.jpg\"\n
          \     },\n      {\n        \"id\": [...]
