interactions:
- request:
    body: "\n                search \"WWE Smack\";\n                fields id, slug,
      name, summary, screenshots;\n                where platforms=[8] ;\n            "
    headers:
      Authorization:
      - Bearer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/games/
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '0'
      x-amz-apigw-id:
      - JXF69GAEvHcFSFw=
      x-amzn-Remapped-Content-Length:
      - '2'
      x-amzn-Remapped-Date:
      - Tue, 08 Aug 2023 21:42:04 GMT
      x-amzn-RequestId:
      - f89b0a7e-0132-468a-9765-e860db9af0e5
    status:
      code: 200
      message: OK
[...]
- request:
    body: fields url; where game=0;
    headers:
      Authorization:
      - Bearer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/covers/
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '0'
      x-amz-apigw-id:
      - JXF7GGvlPHcFkfg=
      x-amzn-Remapped-Content-Length:
      - '2'
      x-amzn-Remapped-Date:
      - Tue, 08 Aug 2023 21:42:05 GMT
      x-amzn-RequestId:
      - 2d66b17c-39e7-48c4-ad47-471ad90fecc4
    status:
      code: 200
      message: OK
- request:
    body: fields url; where game=0; limit 5;
    headers:
      Authorization:
      - Bearer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/screenshots/
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '0'
      x-amz-apigw-id:
      - JXF7JHGPvHcFjyw=
      x-amzn-Remapped-Content-Length:
      - '2'
      x-amzn-Remapped-Date:
      - Tue, 08 Aug 2023 21:42:05 GMT
      x-amzn-RequestId:
      - 9b979995-d6e6-46d8-afb8-e93c06120852
    status:
      code: 200
      message: OK
- request:
    body: "\n                search \"WWE SmackDown! vs. RAW\";\n                fields
      id, slug, name, summary, screenshots;\n                where platforms=[8] ;\n
      \           "
    headers:
      Authorization:
      - Bearer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/games/
  response:
    body:
      string: "[\n  {\n    \"id\": 80852,\n    \"name\": \"WWE Smackdown! vs. Raw\",\n
        \   \"screenshots\": [\n      337102,\n      337103,\n      337104,\n      337105,\n
        \     337106,\n      337107,\n      337108\n    ],\n    \"slug\": \"wwe-smackdown-vs-raw\",\n
        \   \"summary\": \"WWE SmackDown! vs. Raw brings two of wrestling\\u0027s
        most popular game series together on the PS2. The game re-creates WWE programming
        with voice-overs and commentary throughout the season mode. During matches,
        you can learn a host of new gameplay moves, such as stare-downs, chop battles,
        and submission reversals. You can also try out situational challenges or create
        your own championship. Play as your favorite wrestler, including legends and
        [...]
- request:
    body: fields url; where game=80852;
    headers:
      Authorization:
      - Bearer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/covers/
  response:
    body:
      string: "[\n  {\n    \"id\": 209154,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/co4hdu.jpg\"\n
        \ }\n]"
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '1'
      x-amz-apigw-id:
      - JXF7QHazPHcFcww=
      x-amzn-Remapped-Content-Length:
      - '97'
      x-amzn-Remapped-Date:
      - Tue, 08 Aug 2023 21:42:06 GMT
      x-amzn-RequestId:
      - a71761ba-563f-47a0-8a38-2154eec2f4ce
    status:
      code: 200
      message: OK
- request:
    body: fields url; where game=80852; limit 5;
    headers:
      Authorization:
      - Bearer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/screenshots/
  response:
    body:
      string: "[\n  {\n    \"id\": 337103,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/sc783z.jpg\"\n
        \ },\n  {\n    \"id\": 337104,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/sc7840.jpg\"\n
        \ },\n  {\n    \"id\": 337105,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/sc7841.jpg\"\n
        \ },\n  {\n    \"id\": 337102,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/sc783y.jpg\"\n
        \ },\n  {\n    \"id\": 337107,\n    \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/sc7843.jpg\"\n
        \ }\n]"
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '7'
      x-amz-apigw-id:
      - JXF7VFzivHcFS_w=
      x-amzn-Remapped-Content-Length:
      - '477'
      x-amzn-Remapped-Date:
      - Tue, 08 Aug 2023 21:42:06 GMT
      x-amzn-RequestId:
      - 54fb9c00-2b9c-4a62-9efd-89e44f768f66
    status:
      code: 200
      message: OK
version: 1
