interactions:
- request:
    body: search "WWE Smack"; fields id,name,slug,summary,total_rating,genres.name,alternative_names.name,artworks.url,cover.url,screenshots.url,franchise.name,franchises.name,collections.name,expansions.name,expansions.cover.url,dlcs.name,dlcs.cover.url,involved_companies.company.name,platforms.name,aggregated_rating,first_release_date,game_modes.name,player_perspectives.name,ports.name,remakes.name,remasters.name,similar_games.name,language_supports.language.name;
      where platforms=[8] ;
    headers:
      Authorization:
      - Bearer test_token
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/games/
  response:
    body:
      string: "{\n  \"message\": \"Authorization Failure. Have you tried:\",\n  \"Tip
        1\":   \"Ensure you are sending Authorization and Client-ID as headers.\",\n
        \ \"Tip 2\":   \"Ensure Authorization value starts with 'Bearer ', including
        the space\",\n  \"Tip 3\":   \"Ensure Authorization value ends with the App
        Access Token you generated, NOT your Client Secret.\",\n  \"Docs\":    \"https://api-docs.igdb.com/#authentication\",\n
        \ \"Discord\": \"https://discord.gg/FrvfwQg\"\n}\n"
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - Scpl8FEvPHcEOfw=
      x-amzn-ErrorType:
      - AccessDeniedException
      x-amzn-RequestId:
      - 8d9a54ad-e327-4386-b8a3-831928f6bf6b
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
    method: POST
    uri: https://id.twitch.tv/oauth2/token?client_id=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&client_secret=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&grant_type=client_credentials
  response:
    body:
      string: '{"access_token":"rsnn7xyiq9ixov3hw32p0g3x0exrot","expires_in":5277802,"token_type":"bearer"}

        '
    headers:
      Content-Type:
      - application/json
      X-Ctxlog-Logid:
      - 1-65bb5626-0ab475b5480e298831e8ddf9
    status:
      code: 200
      message: OK
- request:
    body: search "WWE Smack"; fields id,name,slug,summary,total_rating,genres.name,alternative_names.name,artworks.url,cover.url,screenshots.url,franchise.name,franchises.name,collections.name,expansions.name,expansions.cover.url,dlcs.name,dlcs.cover.url,involved_companies.company.name,platforms.name,aggregated_rating,first_release_date,game_modes.name,player_perspectives.name,ports.name,remakes.name,remasters.name,similar_games.name,language_supports.language.name;
      where platforms=[8] ;
    headers:
      Authorization:
      - Bearer rsnn7xyiq9ixov3hw32p0g3x0exrot
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/games/
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
      X-Count:
      - '0'
      x-amz-apigw-id:
      - ScpmLHCgvHcErNw=
      x-amzn-Remapped-Content-Length:
      - '2'
      x-amzn-Remapped-Date:
      - Thu, 01 Feb 2024 08:28:23 GMT
      x-amzn-RequestId:
      - 0fcbb165-70e2-43a6-856b-36273578437b
    status:
      code: 200
      message: OK
[...]
- request:
    body: search "WWE SmackDown! vs. RAW"; fields id,name,slug,summary,total_rating,genres.name,alternative_names.name,artworks.url,cover.url,screenshots.url,franchise.name,franchises.name,collections.name,expansions.name,expansions.cover.url,dlcs.name,dlcs.cover.url,involved_companies.company.name,platforms.name,aggregated_rating,first_release_date,game_modes.name,player_perspectives.name,ports.name,remakes.name,remasters.name,similar_games.name,language_supports.language.name;
      where platforms=[8] ;
    headers:
      Authorization:
      - Bearer 76opkjlm5fe25i3avc6v17s0t8ieey
      Client-ID:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    method: POST
    uri: https://api.igdb.com/v4/games/
  response:
    body:
      string: "[\n  {\n    \"id\": 80852,\n    \"alternative_names\": [\n      {\n
        \       \"id\": 43313,\n        \"name\": \"Exciting Pro Wrestling 6: SmackDown!
        vs. RAW\"\n      },\n      {\n        \"id\": 43314,\n        \"name\": \"WWE
        SvR\"\n      }\n    ],\n    \"cover\": {\n      \"id\": 209154,\n      \"url\":
        \"//images.igdb.com/igdb/image/upload/t_thumb/co4hdu.jpg\"\n    },\n    \"first_release_date\":
        1099353600,\n    \"franchises\": [\n      {\n        \"id\": 255,\n        \"name\":
        \"WWE\"\n      }\n    ],\n    \"game_modes\": [\n      {\n        \"id\":
        1,\n        \"name\": \"Single player\"\n      },\n      {\n        \"id\":
        2,\n        \"name\": \"Multiplayer\"\n      }\n    ],\n    \"genres\": [\n
        \     {\n        \"id\": 4,\n        \"name\": \"Fighting\"\n      },\n      {\n
        \       \"id\": 14,\n        \"name\": \"Sport\"\n      }\n    ],\n    \"involved_companies\":
        [\n      {\n        \"id\": 59696,\n        \"company\": {\n          \"id\":
        14321,\n          \"name\": \"Yuke\\u0027s\"\n        }\n      },\n      {\n
        \       \"id\": 59697,\n        \"company\": {\n          \"id\": 197,\n          \"name\":
        \"THQ\"\n        }\n      },\n      {\n        \"id\": 59698,\n        \"company\":
        {\n          \"id\": 14321,\n          \"name\": \"Yuke\\u0027s\"\n        }\n
        \     }\n    ],\n    \"name\": \"WWE Smackdown! vs. Raw\",\n    \"platforms\":
        [\n      {\n        \"id\": 8,\n        \"name\": \"PlayStation 2\"\n      }\n
        \   ],\n    \"player_perspectives\": [\n      {\n        \"id\": 2,\n        \"name\":
        \"Third person\"\n      }\n    ],\n    \"screenshots\": [\n      {\n        \"id\":
        337102,\n        \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/sc783y.jpg\"\n
        \     },\n      {\n        \"id\": 337103,\n        \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/sc783z.jpg\"\n
        \     },\n      {\n        \"id\": 337104,\n        \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/sc7840.jpg\"\n
        \     },\n      {\n        \"id\": 337105,\n        \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/sc7841.jpg\"\n
        \     },\n      {\n        \"id\": 337106,\n        \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/sc7842.jpg\"\n
        \     },\n      {\n        \"id\": 337107,\n        \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/sc7843.jpg\"\n
        \     },\n      {\n        \"id\": 337108,\n        \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/sc7844.jpg\"\n
        \     }\n    ],\n    \"similar_games\": [\n      {\n        \"id\": 109606,\n
        \       \"name\": \"Pro Yakyuu Spirits 2019\"\n      },\n      {\n        \"id\":
        114286,\n        \"name\": \"Madden NFL 20\"\n      },\n      {\n        \"id\":
        116343,\n        \"name\": \"Real Football 2016\"\n      },\n      {\n        \"id\":
        116349,\n        \"name\": \"Real Football 2014\"\n      },\n      {\n        \"id\":
        116350,\n        \"name\": \"Real Football 2015\"\n      },\n      {\n        \"id\":
        116351,\n        \"name\": \"Real Football 2017\"\n      },\n      {\n        \"id\":
        116352,\n        \"name\": \"Real Football 2018\"\n      },\n      {\n        \"id\":
        116353,\n        \"name\": \"Real Football 2019\"\n      },\n      {\n        \"id\":
        174558,\n        \"name\": \"The Thrill of the Fight\"\n      },\n      {\n
        \       \"id\": 277704,\n        \"name\": \"Boxing Wrestle\"\n      }\n    ],\n
        \   \"slug\": \"wwe-smackdown-vs-raw\",\n    \"summary\": \"WWE SmackDown!
        vs. Raw brings two of wrestling\\u0027s most popular game series together
        on the PS2. The game re-creates WWE programming with voice-overs and commentary
        throughout the season mode. During matches, you can learn a host of new gameplay
        moves, such as stare-downs, chop battles, and submission reversals. You can
        also try out situational challenges or create your own championship. Play
        as your favorite wrestler, including legends and Divas, and prove to the world
        that you have what it takes to be the WWE champion.\",\n    \"total_rating\":
        79.23101809914306,\n    \"collections\": [\n      {\n        \"id\": 464,\n
        \       \"name\": \"WWE SmackDown vs. Raw\"\n      }\n    ]\n  },\n  {\n    \"id\":
        2265,\n    \"aggregated_rating\": 70.0,\n    \"alternative_names\": [\n      {\n
        \       \"id\": 94956,\n        \"name\": \"WWE \uC2A4\uB9E5\uB2E4\uC6B4 \uB300
        \uB85C\uC6B0 2011 \"\n      }\n    ],\n    \"cover\": {\n      \"id\": 212984,\n
        \     \"url\": \"//images.igdb.com/igdb/image/upload/t_thumb/co4kc8.jpg\"\n
        \   },\n    \"first_release_date\": 1288051200,\n    \"franchises\": [\n      {\n
        \       \"id\": 255,\n        \"name\": \"WWE\"\n      }\n    ],\n    \"game_modes\":
       [...]
