interactions:
  - request:
      body:
        search "WWE Smack"; fields id,name,slug,summary,total_rating,aggregated_rating,genres.name,alternative_names.name,artworks.url,cover.url,screenshots.url,franchise.name,franchises.name,collections.name,expansions.name,expansions.slug,expansions.cover.url,expanded_games.name,expanded_games.cover.url,dlcs.name,dlcs.slug,dlcs.cover.url,remakes.name,remakes.cover.url,remasters.name,remasters.cover.url,involved_companies.company.name,platforms.name,first_release_date,game_modes.name,player_perspectives.name,ports.name,similar_games.name,language_supports.language.name,external_games.uid,external_games.category;
        where platforms=[8] ; limit 200;
      headers:
        Authorization:
          - Bearer test_token
        Client-ID:
          - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      method: POST
      uri: https://api.igdb.com/v4/games
    response:
      body:
        string:
          "{\n  \"message\": \"Authorization Failure. Have you tried:\",\n  \"Tip
          1\":   \"Ensure you are sending Authorization and Client-ID as headers.\",\n
          \ \"Tip 2\":   \"Ensure Authorization value starts with 'Bearer ', including
          the space\",\n  \"Tip 3\":   \"Ensure Authorization value ends with the App
          Access Token you generated, NOT your Client Secret.\",\n  \"Docs\":    \"https://api-docs.igdb.com/#authentication\",\n
          \ \"Discord\": \"https://discord.gg/FrvfwQg\"\n}\n"
      headers:
        Content-Type:
          - application/json
        x-amz-apigw-id:
          - SqFobF8DPHcEaEA=
        x-amzn-ErrorType:
          - AccessDeniedException
        x-amzn-RequestId:
          - 303a827f-7960-4f11-9625-6da894bd89f0
      status:
        code: 401
        message: Unauthorized
  - request:
      body: null
      headers:
      method: POST
      uri: https://id.twitch.tv/oauth2/token?client_id=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&client_secret=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&grant_type=client_credentials
    response:
      body:
        string:
          '{"access_token":"ceowppsaubbqnesvgmn8bxq2bz1e93","expires_in":5232645,"token_type":"bearer"}

          '
      headers:
        Content-Type:
          - application/json
        X-Ctxlog-Logid:
          - 1-65c0b636-7add0780529675930d3892c4
      status:
        code: 200
        message: OK
  - request:
      body:
        search "WWE Smack"; fields id,name,slug,summary,total_rating,aggregated_rating,genres.name,alternative_names.name,artworks.url,cover.url,screenshots.url,franchise.name,franchises.name,collections.name,expansions.name,expansions.slug,expansions.cover.url,expanded_games.name,expanded_games.cover.url,dlcs.name,dlcs.slug,dlcs.cover.url,remakes.name,remakes.cover.url,remasters.name,remasters.cover.url,involved_companies.company.name,platforms.name,first_release_date,game_modes.name,player_perspectives.name,ports.name,similar_games.name,language_supports.language.name,external_games.uid,external_games.category;
        where platforms=[8] ; limit 200;
      headers:
        Authorization:
          - Bearer ceowppsaubbqnesvgmn8bxq2bz1e93
        Client-ID:
          - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      method: POST
      uri: https://api.igdb.com/v4/games
    response:
      body:
        string: "[]"
      headers:
        Content-Type:
          - application/json
        X-Count:
          - "0"
        x-amz-apigw-id:
          - SqForGNWPHcEl2w=
        x-amzn-Remapped-Content-Length:
          - "2"
        x-amzn-Remapped-Date:
          - Mon, 05 Feb 2024 10:19:35 GMT
        x-amzn-RequestId:
          - 6ea19906-7c95-44bd-a145-9455a3105a3e
      status:
        code: 200
        message: OK
  - request:
      body:
        fields game.id,name; where game.platforms=[8] & (name ~ *"WWE Smack"* |
        alternative_name ~ *"WWE Smack"*); limit 200;
      headers:
        Authorization:
          - Bearer ceowppsaubbqnesvgmn8bxq2bz1e93
        Client-ID:
          - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      method: POST
      uri: https://api.igdb.com/v4/search
    response:
      body:
        string:
          "[\n  {\n    \"id\": 22703,\n    \"game\": {\n      \"id\": 6461\n    },\n
          \   \"name\": \"WWE SmackDown! Shut Your Mouth\"\n  },\n  {\n    \"id\": 23270,\n
          \   \"game\": {\n      \"id\": 5298\n    },\n    \"name\": \"WWE SmackDown
          vs Raw 2008\"\n  },\n  {\n    \"id\": 38521,\n    \"game\": {\n      \"id\":
          80852\n    },\n    \"name\": \"WWE Smackdown! vs Raw\"\n  },\n  {\n    \"id\":
          42494,\n    \"game\": {\n      \"id\": 7252\n    },\n    \"name\": \"WWE SmackDown
          vs Raw 2007\"\n  },\n  {\n    \"id\": 64889,\n    \"game\": {\n    [...]
  - request:
      body:
        fields id,name,slug,summary,total_rating,aggregated_rating,genres.name,alternative_names.name,artworks.url,cover.url,screenshots.url,franchise.name,franchises.name,collections.name,expansions.name,expansions.slug,expansions.cover.url,expanded_games.name,expanded_games.cover.url,dlcs.name,dlcs.slug,dlcs.cover.url,remakes.name,remakes.cover.url,remasters.name,remasters.cover.url,involved_companies.company.name,platforms.name,first_release_date,game_modes.name,player_perspectives.name,ports.name,similar_games.name,language_supports.language.name,external_games.uid,external_games.category;
        where id=6461; limit 200;
      headers:
        Authorization:
          - Bearer ceowppsaubbqnesvgmn8bxq2bz1e93
        Client-ID:
          - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      method: POST
      uri: https://api.igdb.com/v4/games
    response:
      body:
        string:
          "[\n  {\n    \"id\": 6461,\n    \"aggregated_rating\": 80.0,\n    \"alternative_names\":
          [\n      {\n        \"id\": 84798,\n        \"name\": \"Exciting Pro Wrestling
          4\"\n      }\n    ],\n    \"cover\": {\n      \"id\": 212962,\n      \"url\":
          \"//images.igdb.com/igdb/image/upload/t_thumb/co4kbm.jpg\"\n    },\n    \"external_games\":
          [\n      {\n        \"id\": 150149,\n        \"category\": 3,\n        \"uid\":
          \"7552\"\n      },\n      {\n        \"id\": 1189446,\n        \"category\":
          14,\n        \"uid\": \"6910\"\n      }\n    ],\n    \"first_release_date\":
          1036022400,\n    \"franchise\": {\n      \"id\": 255,\n      \"name\": \"WWE\"\n
          \   },\n    \"franchises\": [\n      {\n        \"id\": 255,\n        \"name\":
          \"WWE\"\n      }\n    ],\n    \"game_modes\": [\n      {\n        \"id\":
          1,\n        \"name\": \"Single player\"\n      },\n      {\n        \"id\":
          4,\n        \"name\": \"Split screen\"\n      }\n    ],\n    \"genres\": [\n
          \     {\n        \"id\": 14,\n        \"name\": \"Sport\"\n      }\n    ],\n
          \   \"involved_companies\": [\n      {\n        \"id\": 15372,\n        \"company\":
          {\n          \"id\": 197,\n          \"name\": \"THQ\"\n        }\n      },\n
          \     {\n        \"id\": 220218,\n        \"company\": {\n          \"id\":
          14321,\n          \"name\": \"Yuke\\u0027s\"\n        }\n      }\n    ],\n
          \   \"name\": \"WWE SmackDown! Shut Your Mouth\",\n    \"platforms\": [\n
          \     {\n        \"id\": 8,\n        \"name\": \"PlayStation 2\"\n      }\n
          \   ],\n    \"screenshots\": [\n      {\n        \"id\": 681390,\n        \"url\":
          \"//images.igdb.com/igdb/image/upload/t_thumb/scelri.jpg\"\n      }\n    ],\n
          \   \"similar_games\": [\n      {\n        \"id\": 2265,\n        \"name\":
          \"WWE SmackDown vs. Raw 2011\"\n      },\n      {\n        \"id\": 4573,\n
          \       \"name\": \"WWE WrestleMania X8\"\n      },\n      {\n        \"id\":
          6442,\n        \"name\": \"WWE Smackdown! Here Comes the Pain\"\n      },\n
          \     {\n        \"id\": 6444,\n        \"name\": \"WWF SmackDown! 2: Know
          Your Role\"\n      },\n      {\n        \"id\": 6445,\n        \"name\": \"WWF
          SmackDown! Just Bring It\"\n      },\n      {\n        \"id\": 18323,\n        \"name\":
          \"WWE SmackDown! vs. Raw 2006\"\n      },\n      {\n        \"id\": 48707,\n
          \       \"name\": \"WWF King of the Ring\"\n      },\n      {\n        \"id\":
          102805,\n        \"name\": \"WWE 2K19\"\n      },\n      {\n        \"id\":
          114286,\n        \"name\": \"Madden NFL 20\"\n      },\n      {\n        \"id\":
          114287,\n        \"name\": \"FIFA 20\"\n      }\n    ],\n    \"slug\": \"wwe-smackdown-shut-your-mouth\",\n
          \   \"summary\": \"A WHOLE NEW SEASON OF SMACKDOWN!\\n\\n-BUILD YOUR OWN DRAMA
          WITH REAL WWF STORYLINES\\n-ALL-NEW DRAFT\\n-INTERACTIVE BACKSTAGE AREAS\\n-WHATCHA
          GONNA DO?!\",\n    \"total_rating\": 79.14862332115482,\n    \"collections\":
          [\n      {\n        \"id\": 5106,\n        \"name\": \"WWE Smackdown!\"\n
          \     }\n    ]\n  }\n]"
      headers:
        Content-Type:
          - application/json
        X-Count:
          - "1"
        x-amz-apigw-id:
          - SqFo_FddPHcEROQ=
        x-amzn-Remapped-Content-Length:
          - "877"
        x-amzn-Remapped-Date:
          - Mon, 05 Feb 2024 10:19:37 GMT
        x-amzn-RequestId:
          - 0fcc21b2-2356-4610-a746-626f094edd81
      status:
        code: 200
        message: OK
version: 1
