interactions:
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://retroachievements.org/API/API_GetGameList.php?i=1&f=1&h=1&c=3&o=0
    response:
      body:
        string:
          '[{"Title":"~Hack~ ~Demo~ Gatoslip: Chapter 0","ID":30734,"ConsoleID":1,"ConsoleName":"Genesis\/Mega
          Drive","ImageIcon":"\/Images\/101272.png","NumAchievements":28,"NumLeaderboards":1,"Points":265,"DateModified":"2024-12-17
          22:07:11","ForumTopicID":27761,"Hashes":["b4c6bcd0b0db9d2cc0f47e2fbb86a97b"]},{"Title":"~Hack~
          137E0 Action 1 Steak","ID":22103,"ConsoleID":1,"ConsoleName":"Genesis\/Mega
          Drive","ImageIcon":"\/Images\/097896.png","NumAchievements":7,"NumLeaderboards":1,"Points":19,"DateModified":"2023-01-14
          17:24:05","ForumTopicID":19822,"Hashes":["6c949293ef4d5f80a1c1fa1b317435d5"]},{"Title":"~Hack~
          Amy Rose in Sonic the Hedgehog","ID":4236,"ConsoleID":1,"ConsoleName":"Genesis\/Mega
          Drive","ImageIcon":"\/Images\/085631.png","NumAchievements":20,"NumLeaderboards":0,"Points":217,"DateModified":"2025-03-13
          05:06:57","ForumTopicID":18551,"Hashes":["688a6b140d790b10716f41671da1e8ee"]}]'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
version: 1
