interactions:
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://retroachievements.org/API/API_GetGameExtended.php?i=999999
    response:
      body:
        string: "[]"
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://retroachievements.org/API/API_GetGameExtended.php?i=999999
    response:
      body:
        string: '{"message":"Unauthenticated.","errors":[{"status":419,"code":"unauthorized","title":"Unauthenticated."}]}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 401
        message: Unauthorized
[...]
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://retroachievements.org/API/API_GetGameExtended.php?i=999999
    response:
      body:
        string: '{"message":"Unauthenticated.","errors":[{"status":419,"code":"unauthorized","title":"Unauthenticated."}]}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 401
        message: Unauthorized
version: 1
