interactions:
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://retroachievements.org/API/API_GetUserCompletionProgress.php?u=Scott&c=5
    response:
      body:
        string:
          '{"Count":5,"Total":444,"Results":[{"GameID":3595,"Title":"Time Crisis","ImageIcon":"\/Images\/032393.png","ConsoleID":12,"ConsoleName":"PlayStation","MaxPossible":26,"NumAwarded":9,"NumAwardedHardcore":9,"MostRecentAwardedDate":"2025-06-17T13:03:32+00:00","HighestAwardKind":null,"HighestAwardDate":null},{"GameID":3368,"Title":"Picross
          NP Vol. 7","ImageIcon":"\/Images\/024817.png","ConsoleID":3,"ConsoleName":"SNES\/Super
          Famicom","MaxPossible":27,"NumAwarded":5,"NumAwardedHardcore":5,"MostRecentAwardedDate":"2025-06-13T20:03:57+00:00","HighestAwardKind":null,"HighestAwardDate":null},{"GameID":9617,"Title":"Picross
          3D","ImageIcon":"\/Images\/039370.png","ConsoleID":18,"ConsoleName":"Nintendo
          DS","MaxPossible":44,"NumAwarded":29,"NumAwardedHardcore":29,"MostRecentAwardedDate":"2025-05-30T15:32:03+00:00","HighestAwardKind":null,"HighestAwardDate":null},{"GameID":140,"Title":"Wonder
          Boy in Monster World","ImageIcon":"\/Images\/034382.png","ConsoleID":1,"ConsoleName":"Genesis\/Mega
          Drive","MaxPossible":49,"NumAwarded":17,"NumAwardedHardcore":17,"MostRecentAwardedDate":"2025-05-15T18:16:42+00:00","HighestAwardKind":null,"HighestAwardDate":null},{"GameID":1446,"Title":"Super
          Mario Bros.","ImageIcon":"\/Images\/036035.png","ConsoleID":7,"ConsoleName":"NES\/Famicom","MaxPossible":77,"NumAwarded":12,"NumAwardedHardcore":10,"MostRecentAwardedDate":"2025-05-13T15:06:40+00:00","HighestAwardKind":"beaten-softcore","HighestAwardDate":"2014-01-08T23:56:20+00:00"}]}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://retroachievements.org/API/API_GetUserCompletionProgress.php?u=Scott&c=5
    response:
      body:
        string: '{"message":"Unauthenticated.","errors":[{"status":419,"code":"unauthorized","title":"Unauthenticated."}]}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 401
        message: Unauthorized
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://retroachievements.org/API/API_GetUserCompletionProgress.php?u=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&c=5
    response:
      body:
        string: '{"Count":0,"Total":0,"Results":[]}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://retroachievements.org/API/API_GetUserCompletionProgress.php?u=arcanecraeda&c=5
    response:
      body:
        string: '{"message":"Unauthenticated.","errors":[{"status":419,"code":"unauthorized","title":"Unauthenticated."}]}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 401
        message: Unauthorized
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://retroachievements.org/API/API_GetUserCompletionProgress.php?u=arcanecraeda&c=5
    response:
      body:
        string: '{"Count":0,"Total":0,"Results":[]}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
version: 1
