interactions:
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://retroachievements.org/API/API_GetGameExtended.php?i=1
    response:
      body:
        string:
          '{"ID":1,"Title":"Sonic the Hedgehog","ConsoleID":1,"ForumTopicID":112,"Flags":null,"ImageIcon":"\/Images\/085573.png","ImageTitle":"\/Images\/054993.png","ImageIngame":"\/Images\/000010.png","ImageBoxArt":"\/Images\/112941.png","Publisher":"Sega","Developer":"Sonic
          Team","Genre":"2D Platforming","Released":"1991-06-11","ReleasedAtGranularity":"day","IsFinal":false,"RichPresencePatch":"cce60593880d25c97797446ed33eaffb","GuideURL":"","Updated":"2025-07-06T16:20:59.000000Z","ConsoleName":"Genesis\/Mega
          Drive","ParentGameID":null,"NumDistinctPlayers":45785,"NumAchievements":36,"Achievements":{"25":{"ID":25,"NumAwarded":3675,"NumAwardedHardcore":2695,"Title":"Very
          Close Shave!","Description":"Finish a level with no time to spare","Points":5,"TrueRatio":17,"Author":"Scott","AuthorULID":"0178KDFZ3GDQSVWG8VX5XGQAJ7","DateModified":"2022-11-16
          21:16:21","DateCreated":"2012-11-02 00:03:12","BadgeName":"461384","DisplayOrder":15,"MemAddr":"f5aaeef73193477686252952ca35eb4f","type":null},"23":{"ID":23,"NumAwarded":10143,"NumAwardedHardcore":5400,"Title":"Alright!
          High Score!","Description":"Score 100,000 points","Points":10,"TrueRatio":20,"Author":"Scott","AuthorULID":"0178KDFZ3GDQSVWG8VX5XGQAJ7","DateModified":"2023-06-07
          21:11:48","DateCreated":"2012-11-02 00:03:12","BadgeName":"563386","DisplayOrder":12,"MemAddr":"e9c3d89f366b82efe287c2684450b6ff","type":null},"32":{"ID":32,"NumAwarded":7049,"NumAwardedHardcore":4466,"Title":"Zee
          Almighty B[...]
