name: build romm image

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'romm version'
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set environment variables
        run: echo "GIT_BRANCH=${GITHUB_REF##*/}" >> $GITHUB_ENV
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Generate Docker metadata
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            name=zurdi15/romm
            name=ghcr.io/zurdi15/romm
          flavor: |
            # latest on master branch, prefix dev on other branches
            latest=${{ github.ref == format('refs/heads/{0}', 'master') }}
            prefix=${{ github.ref != format('refs/heads/{0}', 'master') && 'dev-' || '' }}
          tags: |
            type=raw,value=latest
            type=raw,value=${{ inputs.version }}
          labels: |
            org.opencontainers.image.version=${{ inputs.version }}
      - name: Build image
        uses: docker/build-push-action@v4
        with:
          file: docker/Dockerfile
          context: .
          push: true
          platforms: linux/arm64,linux/amd64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
